﻿<div>
    <div class="Principal Transicion" style="padding-top: 75px !important;">
        <div class="col-md-12">
            <br />
            <br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 style="text-align:center; font-weight:600;">APRENDIZ</h1>
                    <div class="col-md-3  col-sm-3 col-xs-3" style="margin-left:-0.8%">
                        <input class="form-control" id="Buscar" ng-keyup="Filter($event)" placeholder="Buscar"/>
                    </div>
                    <input id="fileUploadWeb" type="file" accept=".xlsx" style="display: none;" />
                    <button class="btn btn-default" id="excel" ng-click="UploadFileWeb()" title="Subir Archivo Excel " style="height: 34px;">
                        <i class="glyphicon glyphicon-open"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="eliminar" ng-click="CambiarEstadoSeleccionados()" title="Inhabilitar Aprendiz" style="height: 34px;">
                        <i class="glyphicon glyphicon-trash" style="color:red;"></i> 
                    </button>
                    <button class="btn btn-default" type="button" id="modificar" ng-click="Modificar()" title="Editar Aprendiz" style="height: 34px;">
                        <i class="glyphicon glyphicon-pencil" style="color:blue;"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="boton" ng-click="AbrirModal()" title="Registrar Aprendiz" style="height: 34px;">
                        <i class="glyphicon glyphicon-plus" style="color:green;"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="cambiar" ng-click="CambiarFicha()" title="Cambio de Ficha" style="height: 34px;">
                        <i class="glyphicon glyphicon-refresh" style="color:#fc7323;"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="cambiar" title="Descargar Plantilla" style="height: 34px;">
                        <a class="glyphicon glyphicon-list-alt" href="../Plantillas/PlatillaAprendices.xlsx" style="color:#08c;text-decoration:none"></a>
                    </button>
                    <br />
                    <br />
                    <table class="table table-bordered">
                      <thead>
                          <tr>
                              <th style="width: 20px"></th>
                              <th class="paginationclass" style="font-weight: bold;">Tipo Documento</th>
                              <th class="paginationclass" style="font-weight: bold;">Número Documento</th>
                              <th class="paginationclass" style="font-weight: bold;">Nombres</th>
                              <th class="paginationclass" style="font-weight: bold;">Apellidos</th>
                              <th class="paginationclass" style="font-weight: bold;">Email</th>
                              <th class="paginationclass" style="font-weight: bold;">Teléfono</th>
                              <th class="paginationclass" style="font-weight: bold;">Poblacion DPS</th>
                              <th class="paginationclass" style="font-weight: bold;">Ficha</th>
                          </tr>
                      </thead>
                      <tbody class="searchable">
                          <tr class="paginationclass" ng-repeat="datalist in datalists | pagination: curPage * pageSize | limitTo: pageSize">
                              <td>
                                  <input ng-model="datalist.Seleccionado" type="checkbox" id="{{datalist.IdAprendiz}}" />
                              </td>
                              <td>{{ datalist.TipoDocumento | uppercase}}</td>
                              <td>{{ datalist.NumeroDocumento | uppercase}}</td>
                              <td>{{ datalist.Nombres | uppercase}}</td>
                              <td>{{ datalist.Apellidos | uppercase}}</td>
                              <td>{{ datalist.Correo | uppercase}}</td>
                              <td>{{ datalist.Telefono | uppercase}}</td>
                              <td>{{ datalist.PoblacionDPS | uppercase}}</td>
                              <td>{{ datalist.IdentificadorFicha | uppercase}}</td>
                          </tr>
                      </tbody>
                    </table>
                    <div class="text-center" id="labelaprendi">
                        <label  style="font-size: 18px;font-weight: bold;">No hay aprendices registrado actualmente</label>
                    </div>
                    <div class="pagination pagination-centered" ng-show="datalists.length" style="float: right">
                        <ul class="pagination-controle pagination">
                            <li>
                                <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                                        ng-click="curPage=curPage-1">
                                    Anterior
                                </button>
                            </li>
                            <li>
                                <span>Pág {{curPage + 1}} de {{ numberOfPages() }}</span>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary"
                                        ng-disabled="curPage >= datalists.length/pageSize - 1"
                                        ng-click="curPage = curPage+1">
                                    Siguiente
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--modal registro Aprendiz-->
<div class="modal fade" id="ModalAprendizRegistrar" role="dialog" style="margin-top: -2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Registrar Aprendiz</h4></center>
            </div>
            <div class="modal-body"  style="height:430px;">
                <form name="aprendiz" id="aprendiz">
                    <div class="form-group col-md-12 col-sm-12 col-xs-12" style="margin-top:2%">
                        <label>Seleccione Ficha</label>
                        <select class="listar" id="listare" ng-required="true" ng-model="Ficha.IdFicha" style="float: right;width:100%;">
                            <option value="">Seleccione una ficha...</option>
                            <option ng-repeat="fichas in Ficha" class="{{fichas.IdentificadorFicha}}" value="{{fichas.IdFicha}}">{{fichas.IdentificadorFicha}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <label>Tipo Documento</label>
                        <select class="listart" id="listas" ng-required="true" ng-model="Aprendiz.TipoDocumento" style="float: right;width:100%;">
                            <option value=""></option>
                            <option value="TI">TI</option>
                            <option value="CC">CC</option>
                            <option value="CE">CE</option>
                            <option value="PASAPORTE">PASAPORTE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <div ng-class="{'has-error':aprendiz.NumDoc.$invalid && aprendiz.NumDoc.$touched, 'has-error2':aprendiz.NumDoc.$error.maxlength}">
                            <label>Numero Documento</label>
                            <input type="number" name="NumDoc" id="NumDoc" ng-required="true" class="form-control" ng-maxlength="11" ng-model="Aprendiz.NumeroDocumento" />
                            <span ng-hide="aprendiz.NumDoc.$error.maxlength">
                                <span ng-if="aprendiz.NumDoc.$invalid && aprendiz.NumDoc.$dirty" class="help-block">Ingrese el numero de documento</span>
                            </span>
                            <span ng-if="aprendiz.NumDoc.$error.maxlength" class="help-block">El numero de documento puede tener máximo 11 caracteres </span>
                        </div>
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <div ng-class="{'has-error':aprendiz.NombreAprendiz.$invalid && aprendiz.NombreAprendiz.$touched, 'has-error2':aprendiz.NombreAprendiz.$error.maxlength}">
                            <label>Nombre</label>
                            <input type="text" name="NombreAprendiz" id="NombreAprendiz" ng-required="true" class="form-control" ng-maxlength="50" ng-model="Aprendiz.Nombres" />
                            <span ng-hide="aprendiz.NombreAprendiz.$error.maxlength">
                                <span ng-if="aprendiz.NombreAprendiz.$invalid && aprendiz.NombreAprendiz.$dirty" class="help-block">Ingrese el nombre del aprendiz</span>
                            </span>
                            <span ng-if="aprendiz.NombreAprendiz.$error.maxlength" class="help-block">El nombre del aprendiz puede tener máximo 50 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <div ng-class="{'has-error':aprendiz.ApellidoAprendiz.$invalid && aprendiz.ApellidoAprendiz.$touched, 'has-error2':aprendiz.ApellidoAprendiz.$error.maxlength}">
                            <label>Primer Apellido</label>
                            <input type="text" name="ApellidoAprendiz" id="ApellidoAprendiz" ng-required="true" class="form-control" ng-maxlength="50" ng-model="Aprendiz.PrimerApellido" />
                            <span ng-hide="aprendiz.ApellidoAprendiz.$error.maxlength">
                                <span ng-if="aprendiz.ApellidoAprendiz.$invalid && aprendiz.ApellidoAprendiz.$dirty" class="help-block">Ingrese el apellido del aprendiz</span>
                            </span>
                            <span ng-if="aprendiz.Apellido.$error.maxlength" class="help-block">El apellido del aprendiz puede tener máximo 50 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <div ng-class="{'has-error':aprendiz.ApellidoAprendiz.$invalid && aprendiz.ApellidoAprendiz.$touched, 'has-error2':aprendiz.ApellidoAprendiz.$error.maxlength}">
                            <label>Segundo Apellido</label>
                            <input type="text" name="ApellidoAprendiz" id="ApellidoAprendiz" ng-required="true" class="form-control" ng-maxlength="50" ng-model="Aprendiz.SegundoApellido" />
                            <span ng-hide="aprendiz.ApellidoAprendiz.$error.maxlength">
                                <span ng-if="aprendiz.ApellidoAprendiz.$invalid && aprendiz.ApellidoAprendiz.$dirty" class="help-block">Ingrese el apellido del aprendiz</span>
                            </span>
                            <span ng-if="aprendiz.Apellido.$error.maxlength" class="help-block">El apellido del aprendiz puede tener máximo 50 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <div ng-class="{'has-error':aprendiz.correo2.$invalid && aprendiz.correo2.$touched, 'has-error2':aprendiz.correo2.$error.maxlength}">
                            <label>Correo</label>
                            <input class="form-control" ng-required="true" name="correo2" id="correo2" type="email" ng-maxlength="50" ng-model="Aprendiz.Correo" />
                            <span ng-hide="aprendiz.correo2.$error.maxlength">
                                <span ng-if="aprendiz.correo2.$invalid && aprendiz.correo2.$dirty" class="help-block">Ingrese un correo válido</span>
                            </span>
                            <span ng-if="aprendiz.correo2.$error.maxlength" class="help-block">El correo puede tener máximo 50 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <div ng-class="{'has-error':Aprendiz.telefono.$invalid && Aprendiz.telefono.$touched, 'has-error2':Aprendiz.telefono.$error.maxlength}">
                            <label>Teléfono</label>
                            <input class="form-control" type="number" name="telefono" id="telefono" ng-required="true" ng-maxlength="10" ng-model="Aprendiz.Telefono" />
                            <span ng-hide="Aprendiz.telefono.$error.maxlength">
                                <span ng-if="Aprendiz.telefono.$invalid && Aprendiz.telefono.$dirty" class="help-block">Ingrese el teléfono del aprendiz</span>
                            </span>
                            <span ng-if="Aprendiz.telefono.$error.maxlength" class="help-block">El teléfono puede tener máximo 10 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:7%">
                        <label>Programa DPS  </label><input type="checkbox" style="height: 18px; width: 18px; position:absolute; margin-left:3%; margin-top:0%;" ng-model="Aprendiz.PoblacionDPS" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary"  ng-click="Guardar()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Eliminar Registro-->
<div class="modal fade" id="modalInhabilitar" role="dialog">
    <div class="modal-dialog" style="width: 400px;">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center>
                    <h4 style="color:#1C75BB;">
                        CONFIRMAR INHABILITACIÓN
                    </h4>
                </center>
            </div>
            <div class="modal-body" style="height: 100px; overflow: auto;">
                <div class="form-group">
                    <label>¿Está seguro que desea inhabilitar el registro? </label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success  btn-default" data-dismiss="modal" ng-click="inhabilitar()">Aceptar</button>
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Editar Registro-->
<div class="modal fade" id="ModalAprendizEditar" role="dialog" style="margin-top: -2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Editar Aprendiz</h4></center>
            </div>
            <div class="modal-body" style="height:430px;">
                <form name="aprendiz" id="aprendiz">
                    <div class="form-group col-md-12 col-sm-12 col-xs-12" style="margin-top:2%">
                        <label>Seleccione una ficha</label>
                        <select class="listar" id="listaredit" ng-required="true" ng-model="Ficha.IdFicha" style="float: right;width:100%;" disabled>
                            <option value=""></option>
                            <option ng-repeat="fichas in Ficha" class="{{fichas.IdentificadorFicha}}" value="{{fichas.IdFicha}}">{{fichas.IdentificadorFicha}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <div ng-class="{'has-error':aprendiz.NumDocEditar.$invalid && aprendiz.NumDocEditar.$touched, 'has-error2':aprendiz.NumDocEditar.$error.maxlength}">
                            <label>Numero Documento</label>
                            <input type="text" name="NumDocEditar" id="NumDocEditar" ng-required="true" class="form-control" ng-maxlength="11" ng-model="Aprendiz.NumeroDocumento" disabled/>
                            <span ng-hide="aprendiz.NumDocEditar.$error.maxlength">
                                <span ng-if="aprendiz.NumDocEditar.$invalid && aprendiz.NumDocEditar.$dirty" class="help-block">Ingrese el numero de documento</span>
                            </span>
                            <span ng-if="aprendiz.NumDocEditar.$error.maxlength" class="help-block">El numero de documento puede tener máximo 11 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <label>Seleccione un tipo de documento</label>
                        <select class="listart" id="listar" ng-required="true" ng-model="Aprendiz.TipoDocumento" style="float: right;width:100%;" disabled>
                            <option value="TI">TI</option>
                            <option value="CC">CC</option>
                            <option value="CE">CE</option>
                            <option value="PASAPORTE">PASAPORTE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <div ng-class="{'has-error':aprendiz.NombreAprendiz.$invalid && aprendiz.NombreAprendiz.$touched, 'has-error2':aprendiz.NombreAprendiz.$error.maxlength}">
                            <label>Nombre</label>
                            <input type="text" name="NombreAprendiz" id="NombreAprendiz" ng-required="true" class="form-control" ng-maxlength="50" ng-model="Aprendiz.Nombres" />
                            <span ng-hide="aprendiz.NombreAprendiz.$error.maxlength">
                                <span ng-if="aprendiz.NombreAprendiz.$invalid && aprendiz.NombreAprendiz.$dirty" class="help-block">Ingrese el nombre del aprendiz</span>
                            </span>
                            <span ng-if="aprendiz.NombreAprendiz.$error.maxlength" class="help-block">El nombre del aprendiz puede tener máximo 50 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <div ng-class="{'has-error':aprendiz.ApellidoAprendiz.$invalid && aprendiz.ApellidoAprendiz.$touched, 'has-error2':aprendiz.ApellidoAprendiz.$error.maxlength}">
                            <label>Primer Apellido</label>
                            <input type="text" name="ApellidoAprendiz" id="ApellidoAprendiz" ng-required="true" class="form-control" ng-maxlength="50" ng-model="Aprendiz.PrimerApellido" />
                            <span ng-hide="aprendiz.ApellidoAprendiz.$error.maxlength">
                                <span ng-if="aprendiz.ApellidoAprendiz.$invalid && aprendiz.ApellidoAprendiz.$dirty" class="help-block">Ingrese el apellido del aprendiz</span>
                            </span>
                            <span ng-if="Aprendiz.Apellido.$error.maxlength" class="help-block">El apellido del aprendiz puede tener máximo 50 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <div ng-class="{'has-error':aprendiz.ApellidoAprendiz.$invalid && aprendiz.ApellidoAprendiz.$touched, 'has-error2':aprendiz.ApellidoAprendiz.$error.maxlength}">
                            <label>Segundo Apellido</label>
                            <input type="text" name="ApellidoAprendiz" id="ApellidoAprendiz" ng-required="true" class="form-control" ng-maxlength="50" ng-model="Aprendiz.SegundoApellido" />
                            <span ng-hide="aprendiz.ApellidoAprendiz.$error.maxlength">
                                <span ng-if="aprendiz.ApellidoAprendiz.$invalid && aprendiz.ApellidoAprendiz.$dirty" class="help-block">Ingrese el apellido del aprendiz</span>
                            </span>
                            <span ng-if="Aprendiz.Apellido.$error.maxlength" class="help-block">El apellido del aprendiz puede tener máximo 50 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <div ng-class="{'has-error':aprendiz.correo2.$invalid && aprendiz.correo2.$touched, 'has-error2':aprendiz.correo2.$error.maxlength}">
                            <label>Correo</label>
                            <input class="form-control" ng-required="true" name="correo2" id="correo2" type="email" ng-maxlength="50" ng-model="Aprendiz.Correo" />
                            <span ng-hide="aprendiz.correo2.$error.maxlength">
                                <span ng-if="aprendiz.correo2.$invalid && aprendiz.correo2.$dirty" class="help-block">Ingrese un correo válido</span>
                            </span>
                            <span ng-if="aprendiz.correo2.$error.maxlength" class="help-block">El correo puede tener máximo 50 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <div ng-class="{'has-error':Aprendiz.telefono.$invalid && Aprendiz.telefono.$touched, 'has-error2':Aprendiz.telefono.$error.maxlength}">
                            <label>Teléfono</label>
                            <input class="form-control" type="text" name="telefono" id="telefono" ng-required="true" ng-maxlength="10" ng-model="Aprendiz.Telefono" />
                            <span ng-hide="Aprendiz.telefono.$error.maxlength">
                                <span ng-if="Aprendiz.telefono.$invalid && Aprendiz.telefono.$dirty" class="help-block">Ingrese el teléfono del aprendiz</span>
                            </span>
                            <span ng-if="Aprendiz.telefono.$error.maxlength" class="help-block">El teléfono puede tener máximo 10 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:5%">
                        <label>Programa DPS  </label><input type="checkbox" style="height: 18px; width: 18px;" ng-model="Aprendiz.PoblacionDPS" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="GuardarModicarAprendiz()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Cambio de Ficha-->
<div class="modal fade" id="ModalFicha" role="dialog" style="width:100%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cerrar()">&times;</button>
                <center><h4 style="font-weight: bold;">Cambiar Ficha</h4></center>
            </div>
            <div class="modal-body" style="height:270px;">
                <div class="col-md-12">
                    <form name="Ficha" id="Ficha">
                            <div class="row">
                                <div class="form-group col-md-12 text-center" style="padding-left: 0px;margin-top:2%;">
                                    <label>Ficha en la que se encuentra actualmente</label>
                                    <input class="form-control text-center" id="ficha" style="float: right;width:100%;margin-top:2%;" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 text-center" style="padding-left: 0px;margin-top:2%;">
                                    <label>Seleccione la ficha para la cual se desea cambiar</label>
                                    <div style="margin-top:2%">
                                        <select class="listar" id="listarFichaC" ng-required="true" ng-model="Ficha.IdFicha" style="float: right;width:100%;">
                                            <option value=""></option>
                                            <option ng-repeat="fichas in Ficha" class="{{fichas.IdentificadorFicha}}" value="{{fichas.IdFicha}}">{{fichas.IdentificadorFicha}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="text-center">
                                    <button class="btn btn-primary" ng-click="CambiarlaFicha()">Cambiar</button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer"> 
                <button type="button" class="btn btn-default" ng-click="cerrar()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Mostrar errores-->
<div class="modal fade" id="ModalErrores" role="dialog" style="width:100%;">
    <div class="modal-dialog" style="width:50%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold; color:red;">La importanción del archivo se realizo con errores</h4></center>
            </div>
            <div class="modal-body" style="height:400px;">
                <div class="row text-center">
                    <label>Aprendices no registrados</label>
                    <br />
                    <br />
                </div>
                <div class="row">
                    <label style="margin-left:85px;">Identificación</label>
                    <label style="margin-left:195px;">Nombre</label>
                    <label style="margin-left:235px;">Error</label>
                    <br />
                </div>
                <div class="col-md-12" style="padding-right:0px;padding-left:0px; height:315px; overflow-y:auto;">
                    <form name="Fichas" id="Fichas">
                        <table id="tblFicha" class="table table-striped table-fixed">
                            <thead>
                            </thead>
                            <tbody>
                                <tr class="paginationclass" id="{{datalistas.NumeroDocumento}}" ng-repeat="datalistas in Error">
                                    <td class="text-center" style="width:119px;padding-top:10px;">{{datalistas.NumeroDocumento | uppercase}}</td>
                                    <td class="text-center" style="width:119px;padding-top:10px;">{{datalistas.Nombres | uppercase}}</td>
                                    <td class="text-center" style="width:119px;padding-top:10px;">{{datalistas.Descripcion | uppercase}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<!--Asignacion de select 2-->
    <script>
        $(".listar").select2();
        $(".listar").select2({
            placeholder: "Seleccione una ficha...",
            allowClear: true
        });
        $(".listart").select2();
        $(".listart").select2({
            placeholder: "Seleccione un tipo documento...",
            allowClear: true
        });
    </script>
