﻿<div>
    <div class="Principal Transicion" style="padding-top: 75px !important;">
        <div class="col-md-12">
            <br />
            <br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 style="text-align:center; font-weight:600;">Área de Formación</h1>
                    <div class="col-md-3  col-sm-3 col-xs-3" style="margin-left:-0.8%">
                        <input class="form-control" id="Buscar" placeholder="Buscar" ng-keyup="Filter($event)"/>
                    </div>
                    <input id="fileUploadWeb" type="file" accept=".xlsx" style="display: none;" />
                    <button class="btn btn-default" id="excel" ng-click="UploadFileWeb()" title="Subir Archivo Excel " style="height: 34px;">
                        <i class="glyphicon glyphicon-open"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="inhabilitar" ng-click="CambiarEstadoSeleccionados()" title="Inhabilitar Área de Formación" style="height: 34px;">
                        <i class="glyphicon glyphicon-trash" style="color:red;"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="modificar" ng-click="Modificar()" title="Editar Área de Formación" style="height: 34px;">
                        <i class="glyphicon glyphicon-pencil" style="color:blue;"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="boton" ng-click="AbrirModal()" title="Registrar Área de Formación" style="height: 34px;">
                        <i class="glyphicon glyphicon-plus" style="color:green;"></i>
                    </button>
                    <br />
                    <br />
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width:20px"></th>
                                <th class="paginationclass" style="font-weight:bold;">Código</th>
                                <th class="paginationclass" style="font-weight:bold;">Nombre</th>
                                <th class="paginationclass" style="font-weight:bold;">Descripción</th>
                            </tr>
                        </thead>
                        <tbody class="searchable">
                            <tr class="paginationclass" ng-repeat="datalist in datalists | pagination: curPage * pageSize | limitTo: pageSize">
                                <td><input ng-model="datalist.Seleccionado" type="checkbox" id="{{datalist.Parametro1}}" /></td>
                                <td>{{ datalist.Parametro2 | uppercase}}</td>
                                <td>{{ datalist.Parametro4 | uppercase}}</td>
                                <td>{{ datalist.Parametro5 | uppercase}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pagination pagination-centered" ng-show="datalists.length" style="float:right">
                        <ul class="pagination-controle pagination">
                            <li>
                                <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                                        ng-click="curPage=curPage-1">
                                    Anterior
                                </button>
                            </li>
                            <li>
                                <span>Pág {{curPage + 1}} de {{ numberOfPages() }}</span>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary"
                                        ng-disabled="curPage >= datalists.length/pageSize - 1"
                                        ng-click="curPage = curPage+1">
                                    Siguiente
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--modal registro area-->
<div class="modal fade" id="ModalArea" role="dialog" style="margin-top:-2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Registrar Área de Formación</h4></center>
            </div>
            <div class="modal-body">
                <form name="area" id="area">
                    <div class="form-group">
                        <div ng-class="{'has-error':area.codigo.$invalid && area.codigo.$touched, 'has-error2':area.codigo.$error.maxlength}">
                            <label>Código</label>
                            <input type="number" name="codigo" id="codigo" ng-required="true" class="form-control" ng-maxlength="10" ng-model="Area.CodigoArea" />
                            <span ng-hide="area.codigo.$error.maxlength">
                                <span ng-if="area.codigo.$invalid && area.codigo.$dirty" class="help-block">Ingrese el código del área</span>
                            </span>
                            <span ng-if="area.codigo.$error.maxlength" class="help-block">El código puede tener máximo 10 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:5%">
                        <div ng-class="{'has-error':area.nombreArea.$invalid && area.nombreArea.$touched, 'has-error2':area.nombreArea.$error.maxlength}">
                            <label>Nombre</label>
                            <input type="text" name="nombreArea" id="nombreArea" ng-required="true" class="form-control" ng-maxlength="50" ng-model="Area.Nombre" />
                            <span ng-hide="area.nombreArea.$error.maxlength">
                                <span ng-if="area.nombreArea.$invalid && area.nombreArea.$dirty" class="help-block">Ingrese el nombre del área</span>
                            </span>
                            <span ng-if="area.nombreArea.$error.maxlength" class="help-block">El nombre del área puede tener máximo 50 caracteres </span>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top:5%">
                        <div ng-class="{'has-error':area.DesArea.$invalid && area.DesArea.$touched, 'has-error2':area.DesArea.$error.maxlength}">
                            <label>Descripción</label>
                            <input type="text" name="DesArea" id="DesArea" ng-required="true" class="form-control" ng-maxlength="200" ng-model="Area.Descripcion" />
                            <span ng-hide="area.DesArea.$error.maxlength">
                                <span ng-if="area.DesArea.$invalid && area.DesArea.$dirty" class="help-block">Ingrese la descripción del área</span>
                            </span>
                            <span ng-if="area.DesArea.$error.maxlength" class="help-block">La descripción del área puede tener máximo 200 caracteres </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="Guardar()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Eliminar Registro-->
<div class="modal fade" id="modalInhabilitar" role="dialog">
    <div class="modal-dialog" style="width: 400px;">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center>
                    <h4 style="color:#1C75BB;">
                        CONFIRMAR INHABILITACIÓN
                    </h4>
                </center>
            </div>
            <div class="modal-body" style="height: 100px; overflow: auto;">
                <div class="form-group">
                    <label>¿Está seguro que desea inhabilitar el registro?</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success  btn-default" data-dismiss="modal" ng-click="inhabilitar()">Aceptar</button>
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Editar Registro-->
<div class="modal fade" id="ModalEditar" role="dialog" style="margin-top:-2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Editar Área de Formación</h4></center>
            </div>
            <div class="modal-body">
                <form name="area1" id="area1">
                    <div class="form-group">
                        <div ng-class="{'has-error':area1.codigo.$invalid && area1.codigo.$touched, 'has-error2':area1.codigo.$error.maxlength}">
                            <label>Código</label>
                            <input type="text" name="codigo" id="codigo" ng-required="true" class="form-control" ng-maxlength="10"  ng-model="Area.CodigoArea" />
                            <span ng-hide="area1.codigo.$error.maxlength">
                                <span ng-if="area1.codigo.$invalid && area1.codigo.$dirty" class="help-block">Ingrese el código del área</span>
                            </span>
                            <span ng-if="area1.codigo.$error.maxlength" class="help-block">El código puede tener máximo 10 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:5%">
                        <div ng-class="{'has-error':area1.nombreArea.$invalid && area1.nombreArea.$touched, 'has-error2':area1.nombreArea.$error.maxlength}">
                            <label>Nombre</label>
                            <input type="text" name="nombreArea" id="nombreArea" ng-required="true" class="form-control" ng-maxlength="50" ng-model="Area.Nombre" />
                            <span ng-hide="area1.nombreArea.$error.maxlength">
                                <span ng-if="area1.nombreArea.$invalid && area1.nombreArea.$dirty" class="help-block">Ingrese el nombre del área</span>
                            </span>
                            <span ng-if="area1.nombreArea.$error.maxlength" class="help-block">El nombre del área puede tener máximo 50 caracteres </span>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top:5%">
                        <div ng-class="{'has-error':area1.DesArea.$invalid && area1.DesArea.$touched, 'has-error2':area1.DesArea.$error.maxlength}">
                            <label>Descripción</label>
                            <input type="text" name="DesArea" id="DesArea" ng-required="true" class="form-control" ng-maxlength="200" ng-model="Area.Descripcion" />
                            <span ng-hide="area1.DesArea.$error.maxlength">
                                <span ng-if="area1.DesArea.$invalid && area1.DesArea.$dirty" class="help-block">Ingrese la descripción del área</span>
                            </span>
                            <span ng-if="area1.DesArea.$error.maxlength" class="help-block">La descripción del área puede tener máximo 200 caracteres </span>
                        </div>
                    </div>

       
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="GuardarEdicionArea()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
