﻿<div>
    <div class="Principal Transicion" style="padding-top: 75px !important;">
        <div class="col-md-12">
            <br />
            <br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 style="text-align:center; font-weight:600;">Centros de Formación</h1>
                    <div class="col-md-3  col-sm-3 col-xs-3" style="margin-left:-0.8%">
                        <input class="form-control" id="Buscar" placeholder="Buscar" ng-keyup="Filter($event)" />
                    </div>
                    <button class="btn btn-default" type="button" id="eliminar" ng-click="CambiarEstadoSeleccionados()" title="Inhabilitar Centro de Formación" style="height: 34px;">
                        <i class="glyphicon glyphicon-trash" style="color:red;"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="modificar" ng-click="Editar()" title="Editar Centro de Formación" style="height: 34px;">
                        <i class="glyphicon glyphicon-pencil" style="color:blue;"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="boton" ng-click="AbrirModal()" title="Registrar Centro de Formación" style="height: 34px;">
                        <i class="glyphicon glyphicon-plus" style="color:green;"></i>
                    </button>

                    <button class="btn btn-default" type="button" id="boton" ng-click="AbrirModalVisita()" title="Modal Visita" style="height: 34px;">
                        <i class="glyphicon glyphicon-camera" style="color:green;"></i>
                    </button>

                    <br />
                    <br />
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width:20px"></th>
                                <th class="paginationclass" style="font-weight:bold;">Codigo Centro</th>
                                <th class="paginationclass" style="font-weight:bold;">Nombre Centro</th>   
                                <th class="paginationclass" style="font-weight:bold;">Dirección</th>
                            </tr>
                        </thead>
                        <tbody class="searchable">
                            <tr class="paginationclass" ng-repeat="datalist in datalists | pagination: curPage * pageSize | limitTo: pageSize">
                                <td><input ng-model="datalist.Seleccionado" type="checkbox" id="{{datalist.Parametro1}}" /></td>
                                <td>{{ datalist.Parametro3 | uppercase}}</td>
                                <td>{{ datalist.Parametro2 | uppercase}}</td>
                                <td>{{ datalist.Parametro4 | uppercase}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pagination pagination-centered" ng-show="datalists.length" style="float:right">
                        <ul class="pagination-controle pagination">
                            <li>
                                <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                                        ng-click="curPage=curPage-1">
                                    Anterior
                                </button>
                            </li>
                            <li>
                                <span>Pág {{curPage + 1}} de {{ numberOfPages() }}</span>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary"
                                        ng-disabled="curPage >= datalists.length/pageSize - 1"
                                        ng-click="curPage = curPage+1">
                                    Siguiente
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--modal registrar-->
<div class="modal fade" id="ModalCentro" role="dialog" style="margin-top:-2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="height:50px; padding:5px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Registrar Centro de Formación</h4></center>
            </div>
            <div class="modal-body" style="height:420px;">
                <form name="centro" id="centro">

                    <div class="row col-md-12 col-sm-12 col-lg-12" style="margin-left:0%;">
                        <div class="form-group">
                            <label>Seleccione Zona</label>
                            <select class="zona" id="listas" ng-required="true" ng-model="zona" ng-change="ConsultarZonasRegionales(zona)" style="float:right;width:100%;">
                                <option value="">Seleccione una Zona...</option>
                                <option ng-repeat="zona in Zona" class="{{zona.NombreZona}}" value="{{zona.IdZona}}">{{zona.NombreZona}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row  col-md-12 col-sm-12 col-lg-12" style="margin-left:0%;">
                        <div class="form-group">
                            <label>Seleccione Regional</label>
                            <select class="regional" id="listas" ng-required="true" ng-model="Regional.IdRegional" ng-change="ConsultarCentrosRegionales(regional)" style="float:left;width:100%;">
                                <option value="">Seleccione una Regional...</option>
                                <option ng-repeat="regional in Regional" class="{{regional.NombreRegional}}" value="{{regional.IdRegional}}">{{regional.NombreRegional}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-lg-12" style="margin-top:2%">
                        <div ng-class="{'has-error':centro.codigo.$invalid && centro.nombre.$touched, 'has-error2':centro.codigo.$error.maxlength}">
                            <label>Codigo del Centro</label>
                            <input class="form-control" ng-required="true" name="codigo" id="codigo" type="number" ng-maxlength="10" ng-model="centro.Codigo" />
                            <span ng-hide="centro.codigo.$error.maxlength">
                                <span ng-if="centro.codigo.$invalid && centro.codigo.$dirty" class="help-block">Ingrese el codigo del centro</span>
                            </span>
                            <span ng-if="centro.codigo.$error.maxlength" class="help-block">El codigo del centro puede tener máximo 10 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-lg-12" style="margin-top:2%">
                        <div ng-class="{'has-error':centro.nombre.$invalid && centro.nombre.$touched, 'has-error2':centro.nombre.$error.maxlength}">
                            <label>Nombre del Centro</label>
                            <input class="form-control" ng-required="true" name="nombre" id="nombre" type="text" ng-maxlength="50" ng-model="centro.NombreCentro" />
                            <span ng-hide="centro.nombre.$error.maxlength">
                                <span ng-if="centro.nombre.$invalid && centro.nombre.$dirty" class="help-block">Ingrese el nombre del centro</span>
                            </span>
                            <span ng-if="centro.nombre.$error.maxlength" class="help-block">El nombre del centro puede tener máximo 50 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-lg-12" style="margin-top:2%">
                        <div ng-class="{'has-error':centro.direccion.$invalid && centro.direccion.$touched, 'has-error2':centro.direccion.$error.maxlength}">
                            <label>Dirección</label>
                            <input class="form-control" ng-required="true" name="direccion" id="direccion" type="text" ng-maxlength="50" ng-model="centro.Direccion" />
                            <span ng-hide="centro.direccion.$error.maxlength">
                                <span ng-if="centro.direccion.$invalid && centro.direccion.$dirty" class="help-block">Ingrese la dirección del centro</span>
                            </span>
                            <span ng-if="centro.direccion.$error.maxlength" class="help-block">La dirección del centro puede tener máximo 50 caracteres </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="Guardar()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Editar Registro-->
<div class="modal fade" id="ModalEditar" role="dialog" style="margin-top:-2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="height:50px; padding:5px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Editar Centro de Formación</h4></center>
            </div>
            <div class="modal-body" style="height:400px;">
                <form name="centroM" id="centroM">
                    <div class="row  col-md-12 col-sm-12 col-lg-12" style="margin-left:0%;">
                        <div class="form-group">
                            <label>Seleccione Zona</label>
                            <select class="zona" id="zona" ng-required="true" ng-model="zona" ng-change="ConsultarZonasRegionales(zona)" style="float:right;width:100%;">
                                <option ng-repeat="zona in Zona" class="{{zona.NombreZona}}" value="{{zona.IdZona}}">{{zona.NombreZona}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row  col-md-12 col-sm-12 col-lg-12" style="margin-left:0%;">
                        <div class="form-group">
                            <label>Seleccione Regional</label>
                            <select class="regional" id="regional" ng-required="true" ng-model="Regional.IdRegional" style="float:left;width:100%;">
                                <option ng-repeat="regional in Regional" class="{{regional.NombreRegional}}" value="{{regional.IdRegional}}">{{regional.NombreRegional}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-lg-12" style="margin-top:2%">
                        <div ng-class="{'has-error':centroM.codigo1.$invalid && centroM.codigo1.$touched, 'has-error2':centroM.codigo1.$error.maxlength}">
                            <label>Codigo del Centro</label>
                            <input class="form-control" ng-required="true" name="codigo1" id="codigo1" type="text" ng-maxlength="10" ng-model="centro.Codigo" />
                            <span ng-hide="centroM.codigo1.$error.maxlength">
                                <span ng-if="centroM.codigo1.$invalid && centroM.codigo1.$dirty" class="help-block">Ingrese el codigo del centro</span>
                            </span>
                            <span ng-if="centroM.codigo1.$error.maxlength" class="help-block">El codigo del centro puede tener máximo 10 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-lg-12" style="margin-top:2%">
                        <div ng-class="{'has-error':centroM.nombre.$invalid && centroM.nombre.$touched, 'has-error2':centroM.nombre.$error.maxlength}">
                            <label>Nombre del Centro</label>
                            <input class="form-control" ng-required="true" name="nombre" id="nombre" type="text" ng-maxlength="200" ng-model="centro.NombreCentro" />
                            <span ng-hide="centroM.nombre.$error.maxlength">
                                <span ng-if="centroM.nombre.$invalid && centroM.nombre.$dirty" class="help-block">Ingrese el nombre del centro</span>
                            </span>
                            <span ng-if="centroM.nombre.$error.maxlength" class="help-block">El nombre del centro puede tener máximo 200 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-lg-12" style="margin-top:2%">
                        <div ng-class="{'has-error':centroM.direccion.$invalid && centroM.direccion.$touched, 'has-error2':centroM.direccion.$error.maxlength}">
                            <label>Dirección</label>
                            <input class="form-control" ng-required="true" name="direccion" id="direccion" type="text" ng-maxlength="200" ng-model="centro.Direccion" />
                            <span ng-hide="centroM.direccion.$error.maxlength">
                                <span ng-if="centroM.direccion.$invalid && centroM.direccion.$dirty" class="help-block">Ingrese la dirección del centro</span>
                            </span>
                            <span ng-if="centroM.direccion.$error.maxlength" class="help-block">La dirección del centro puede tener máximo 200 caracteres </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="GuardarEdicionCentro()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Eliminar Registro-->
<div class="modal fade" id="modalInhabilitar" role="dialog">
    <div class="modal-dialog" style="width:400px;">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center>
                    <h4 style="color:#1C75BB;">
                        CONFIRMAR INHABILITACIÓN
                    </h4>
                </center>
            </div>
            <div class="modal-body" style="height: 100px; overflow: auto;">
                <div class="form-group">
                    <label>¿Está seguro que desea inhabilitar el registro? </label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success  btn-primary" data-dismiss="modal" ng-click="Eliminar()">Aceptar</button>
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<!--Modal Visita-->

<div class="modal fade" id="ModalVisita" role="dialog">
    <div class="modal-dialog" style="width:750px; height:600px;">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center>
                    <h4 style="color:#000; font-weight:600;">
                        Gestionar Visita
                    </h4>
                </center>
            </div>
            <div class="modal-body" style="height: auto; overflow: auto;">
                <div class="form-group">
                    
                 

                    <div style="margin-top:3%;" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label>Tipo de visita</label>
                        <select class="form-control">
                            <option>Presencial</option>
                            <option>Teléfonica</option>
                            <option>Videollamada</option>
                        </select>
                    </div>

                    <div style="margin-top:3%;" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label>Motivo de la visita</label>
                        <select class="form-control">
                            <option>Concertación de Etapa Productiva</option>
                            <option>Seguimiento y evaluación de Etapa Productiva</option>
                        </select>
                    </div>


                    <div style="margin-top:3%;" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label>Hora inicial</label>
                        <input class="form-control" type="time" name="HoraInicial" value="" />
                    </div>

                    <div style="margin-top:3%;" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label>Hora final</label>
                        <input class="form-control" type="time" name="HoraInicial" value="" />
                    </div>


                    <div style="margin-top:3%;" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        
                        <label>Acción correctiva</label>
                        <input id="ActivarAccionCorrectiva" style="margin-top:3%;" type="checkbox" name="VisitaTres" value="" />
                    </div>

                    <div id="seleccionarCorrectivo" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="display:none; margin-top:3%;">
                        <select class="form-control">
                            <option>Asesoría</option>
                            <option>Concertación evaluación</option>
                            <option>Plan de mejoramiento</option>
                            <option>Seguimiento Etapa Productiva</option>
                            <option>Visita</option>
                            <option>Visita de seguimiento</option>
                            <option>Visita presencial</option>
                            <option>Otro</option>
                        </select>
                    </div>


                    <div style="margin-top:3%;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>Observaciones</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>




<!-- Asignacion select 2-->
<script>
    $(function () {
        $(".zona").select2();
        $(".zona").select2({
            placeholder: "Seleccione Zona...",
            allowClear: true
        });
    });

    $(function () {
        $(".regional").select2();
        $(".regional").select2({
            placeholder: "Seleccione Regional...",
            allowClear: true
        });
    });
</script>

<script>
    $("#ActivarAccionCorrectiva").click(function () {
        if (this.checked) {
            $("#seleccionarCorrectivo").css({ "display": "block" });
        }
        else {
            $("#seleccionarCorrectivo").css({ "display": "none" });
        }
    });
</script>

