﻿<div>
    <div class="Principal Transicion" style="padding-top: 75px !important;">
        <div class="col-md-12">
            <br />
            <br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 id="title" style="text-align:center; font-weight:600;">Empresas</h1>
                    <h1 id="title1" style="text-align:center; font-weight:600;">Sedes</h1>
                    <div class="col-md-3  col-sm-3 col-xs-3" style="margin-left:-0.8%">
                        <input class="form-control" ng-keyup="Filter($event)" id="Buscar" placeholder="Buscar" />
                    </div>
                    <input id="fileUploadWeb" type="file" accept=".xlsx" style="display: none;" />
                    <button class="btn btn-default" id="excel" ng-click="UploadFileWeb()" title="Subir Archivo Excel " style="height: 34px;">
                        <i class="glyphicon glyphicon-open"></i>

                    </button>
                    <button class="btn btn-default" type="button" id="cambiar" title="Descargar Plantilla" style="height: 34px;">
                        <a class="glyphicon glyphicon-list-alt" href="../Plantillas/PlantillaEpresas.xlsx" style="color:#08c;text-decoration:none"></a>
                    </button>
      

                    <button class="btn btn-default" type="button" id="eliminar1" ng-click="CambiarEstadoSeleccionados()" title="Cambiar Estado Empresa" style="height: 34px;">
                        <i   id="eliminar2" class="glyphicon glyphicon-trash" style="color:red;"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="eliminarsede" ng-click="CambiarEstadoSeleccionadoSede()" title="Inhabilitar Sede" style="height: 34px;">
                        <i id="eliminarsede1" class="glyphicon glyphicon-trash" style="color:red;"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="modificarem" ng-click="Modificar()" title="Editar Empresa" style="height: 34px;">
                        <i class="glyphicon glyphicon-pencil" style="color:blue;"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="modificarsede" ng-click="ModificarSede()" title="Editar Sede" style="height: 34px;">
                        <i class="glyphicon glyphicon-pencil" style="color:blue;"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="boton" ng-click="AbrirModal()" title="Registrar Empresa" style="height: 34px;">
                        <i class="glyphicon glyphicon-plus" style="color:green;"></i>
                    </button>

                    <button class="btn btn-default" type="button" id="boton1" ng-click="AbrirModalSede()" title="Registrar Sede" style="height: 34px;">
                        <i class="glyphicon glyphicon-plus" style="color:green;"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="sedes" title="Consultar Sedes" style="height: 34px;">
                        <i id="sedes1" class="glyphicon glyphicon-eye-open" style="color:gray;"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="inactivo" title="Inhabilidatos" style="height: 34px;">
                        <i   id="inactivo1" class="glyphicon glyphicon-ban-circle" style="color:red;"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="reset" title="Atras" style="height: 34px;">
                        <i id="reset1" class="glyphicon glyphicon-arrow-left" style="color:gray;"></i>
                    </button>
                   
                   
                    <br />
                    <br />
                    <table id="temp" class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width:20px"></th>
                                <th class="paginationclass" style="font-weight:bold;">Nit</th>
                                <th class="paginationclass" style="font-weight:bold;">Nombre Empresa</th>
                                <th class="paginationclass" style="font-weight:bold;">Dirección</th>
                                <th class="paginationclass" style="font-weight:bold;">Correo Empresa</th>
                                <th class="paginationclass" style="font-weight:bold;">Teléfono Empresa</th>
                            </tr>
                        </thead>
                        <tbody class="searchable">
                            <tr class="paginationclass" ng-repeat="datalist in datalists | pagination: curPage * pageSize | limitTo: pageSize">
                                <td><input ng-model="datalist.Seleccionado" type="checkbox" id="{{datalist.IdEmpresa}}" /></td>
                                <td>{{datalist.NitEmpresa | uppercase}}</td>
                                <td>{{datalist.NombreEmpresa | uppercase}}</td>
                                <td>{{datalist.Direccion | uppercase}}</td>
                                <td>{{datalist.Correo | uppercase}}</td>
                                <td>{{datalist.Telefono | uppercase}}</td>
                            </tr>
                        </tbody>
                    </table>




                    <!--Tabla de sedes-->
                    <table id="tsede" class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width:20px"></th>
                                <!--<th class="paginationclass" style="font-weight:bold;">Nombre Empresa</th>-->
                                <th class="paginationclass" style="font-weight:bold;">Empresa</th>
                                <th class="paginationclass" style="font-weight:bold;">Nombre Sede</th>
                                <th class="paginationclass" style="font-weight:bold;">Telefono Sede</th>
                                <th class="paginationclass" style="font-weight:bold;">Direccion Sede</th>
                                <th class="paginationclass" style="font-weight:bold;">Nombre Coformador</th>
                                <th class="paginationclass" style="font-weight:bold;">Telefono Coformador</th>
                                <th class="paginationclass" style="font-weight:bold;">Cargo Coformador</th>
                            </tr>
                        </thead>
                        <tbody class="searchable">
                            <tr class="paginationclass" ng-repeat="datalist in datalists | pagination: curPage * pageSize | limitTo: pageSize">

                                <input ng-model="datalist.IdEmpresa" type="hidden" id="{{datalist.IdEmpresa}}" />


                                <td><input ng-model="datalist.Seleccionado" type="checkbox" id="{{datalist.IdSede}}" /></td>
                                <td>{{datalist.Codigo | uppercase}}</td>
                                <td>{{datalist.Nombre | uppercase}}</td>
                                <td>{{datalist.Telefono | uppercase}}</td>
                                <td>{{datalist.Direccion | uppercase}}</td>
                                <td>{{datalist.NombreCoformador | uppercase}}</td>
                                <td>{{datalist.TelefonoCoformador | uppercase}}</td>
                                <td>{{datalist.CargoCoformador | uppercase}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="pagination pagination-centered" ng-show="datalists.length" style="float:right">
                        <ul class="pagination-controle pagination">
                            <li>
                                <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                                        ng-click="curPage=curPage-1">
                                    Anterior
                                </button>
                            </li>
                            <li>
                                <span>Pág {{curPage + 1}} de {{ numberOfPages() }}</span>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary"
                                        ng-disabled="curPage >= datalists.length/pageSize - 1"
                                        ng-click="curPage = curPage+1">
                                    Siguiente
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal registrar Empresa-->
<div class="modal fade" id="ModalEmpresas" role="dialog" style="margin-top:-2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="height:80px; padding:5px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Registrar Empresa</h4></center>
            </div>
            <div class="modal-body">
                <form name="empresa" id="empresa">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div ng-class="{'has-error':empresa.nit.$invalid && empresa.nit.$touched, 'has-error2':empresa.nit.$error.maxlength}">
                                    <label>Nit</label>
                                    <input class="form-control" ng-required="true" name="nit" id="nit" type="text" ng-maxlength="15" ng-model="empresa.NitEmpresa" />
                                    <span ng-hide="empresa.nit.$error.maxlength">
                                        <span ng-if="empresa.nit.$invalid && empresa.nit.$dirty" class="help-block">Ingrese el Nit de la Empresa</span>
                                    </span>
         
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-class="{'has-error':empresa.direccion.$invalid && empresa.direccion.$touched, 'has-error2':empresa.direccion.$error.maxlength}">
                                    <label>Dirección Empresa</label>
                                    <input class="form-control" ng-required="true" name="direccion" id="direccion" type="text" ng-maxlength="50" ng-model="empresa.Direccion" />
                                    <span ng-hide="empresa.direccion.$error.maxlength">
                                        <span ng-if="empresa.direccion.$invalid && empresa.direccion.$dirty" class="help-block">Ingrese la dirección de la empresa</span>
                                    </span>
                                  
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-class="{'has-error':empresa.correo2.$invalid && empresa.correo2.$touched, 'has-error2':empresa.correo2.$error.maxlength}">
                                    <label>Correo Empresa</label>
                                    <input class="form-control" ng-required="true" name="correo2" id="correo2" type="email" ng-maxlength="50" ng-model="empresa.Correo" />
                                    <span ng-hide="empresa.correo2.$error.maxlength">
                                        <span ng-if="empresa.correo2.$invalid && empresa.correo2.$dirty" class="help-block">Ingrese un correo válido</span>
                                    </span>
                                    <span ng-if="empresa.correo2.$error.maxlength" class="help-block">El correo puede tener máximo 50 caracteres </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div ng-class="{'has-error':empresa.cargo.$invalid && empresa.cargo.$touched, 'has-error2':empresa.cargo.$error.maxlength}">
                                    <label>Cargo Coformador</label>
                                    <input class="form-control" ng-required="true" name="cargo" id="cargo" type="text" ng-maxlength="50" ng-model="empresa.CargoCoformador" />
                                    <span ng-hide="empresa.cargo.$error.maxlength">
                                        <span ng-if="empresa.cargo.$invalid && empresa.cargo.$dirty" class="help-block">Ingrese el cargo del coformador</span>
                                    </span>
                                    <span ng-if="empresa.cargo.$error.maxlength" class="help-block">El cargo puede tener máximo 50 caracteres </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-class="{'has-error':empresa.telco.$invalid && empresa.telco.$touched, 'has-error2':empresa.telco.$error.maxlength}">
                                    <label>Telefono Coformador</label>
                                    <input class="form-control" ng-required="true" name="telco" id="telco" type="number" ng-maxlength="50" ng-model="empresa.TelefonoCoformador" />
                                    <span ng-hide="empresa.telco.$error.maxlength">
                                        <span ng-if="empresa.telco.$invalid && empresa.telco.$dirty" class="help-block">Ingrese El correo del coformador</span>
                                    </span>
                                    <span ng-if="empresa.telco.$error.maxlength" class="help-block">El correo puede tener máximo 50 caracteres </span>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <div ng-class="{'has-error':empresa.nombre.$invalid && empresa.nombre.$touched, 'has-error2':empresa.nombre.$error.maxlength}">
                                    <label>Nombre Empresa</label>
                                    <input class="form-control" ng-required="true" name="nombre" id="nombre" type="text" ng-maxlength="50" ng-model="empresa.NombreEmpresa" />
                                    <span ng-hide="empresa.nombre.$error.maxlength">
                                        <span ng-if="empresa.nombre.$invalid && empresa.nombre.$dirty" class="help-block">Ingrese el nombre de la empresa</span>
                                    </span>

                                </div>
                            </div>

                            <div class="form-group">
                                <div ng-class="{'has-error':empresa.telefono.$invalid && empresa.telefono.$touched, 'has-error2':empresa.telefono.$error.maxlength}">
                                    <label>Teléfono Empresa</label>
                                    <input class="form-control" ng-required="true" name="telefono" id="telefono" type="number" ng-maxlength="7" ng-model="empresa.Telefono" />
                                    <span ng-hide="empresa.telefono.$error.maxlength">
                                        <span ng-if="empresa.telefono.$invalid && empresa.telefono.$dirty" class="help-block">Ingrese un teléfono válido</span>
                                    </span>

                                </div>
                            </div>
                            <div class="form-group ">
                                <div ng-class="{'has-error':empresa.coformador.$invalid && empresa.coformador.$touched, 'has-error2':empresa.coformador.$error.maxlength}">
                                    <label>Nombre Coformador</label>
                                    <input class="form-control" ng-required="true" name="coformador" id="coformador" type="text" ng-maxlength="50" ng-model="empresa.NombreCoformador" />
                                    <span ng-hide="empresa.coformador.$error.maxlength">
                                        <span ng-if="empresa.coformador.$invalid && empresa.coformador.$dirty" class="help-block">Ingrese el nombre del coformador</span>
                                    </span>
                                    <span ng-if="empresa.sede.$error.maxlength" class="help-block">El nombre puede tener máximo 50 caracteres </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-class="{'has-error':empresa.correo3.$invalid && empresa.correo3.$touched, 'has-error2':sede.correo3.$error.maxlength}">
                                    <label>Correo Coformador</label>
                                    <input class="form-control" ng-required="true" name="correo3" id="correo3" type="email" ng-maxlength="50" ng-model="empresa.CorreoCoformador" />
                                    <span ng-hide="empresa.correo3.$error.maxlength">
                                        <span ng-if="empresa.correo3.$invalid && empresa.correo3.$dirty" class="help-block">Ingrese un correo válido</span>
                                    </span>
                                    <span ng-if="empresa.correo3.$error.maxlength" class="help-block">El correo puede tener máximo 50 caracteres </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Seleccione Estado</label>
                                <select class="estado" id="listaEs" ng-required="true" ng-model="empresa.Estado" style="float:right;width:100%;">
                                    <option value="">Seleccione un estado.../option>
                                    <option value="Activo">Activo</option>
                                    <option value="Inactivo">Inactivo</option>

                                </select>
                            </div>

                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="Guardar()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--modal editar-->
<div class="modal fade" id="ModalEditar" role="dialog" style="margin-top:-2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="height:50px; padding:5px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Editar Empresa</h4></center>
            </div>
            <div class="modal-body">
                <form name="empresa1" id="empresa1">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div ng-class="{'has-error':empresa.nit.$invalid && empresa.nit.$touched, 'has-error2':empresa.nit.$error.maxlength}">
                                    <label>Nit</label>
                                    <input class="form-control" ng-required="true" name="nit" id="nit" type="text" ng-maxlength="15" ng-model="empresa.NitEmpresa" />
                                    <span ng-hide="empresa.nit.$error.maxlength">
                                        <span ng-if="empresa.nit.$invalid && empresa.nit.$dirty" class="help-block">Ingrese el Nit de la Empresa</span>
                                    </span>
    
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-class="{'has-error':empresa.direccion.$invalid && empresa.direccion.$touched, 'has-error2':empresa.direccion.$error.maxlength}">
                                    <label>Dirección Empresa</label>
                                    <input class="form-control" ng-required="true" name="direccion" id="direccion" type="text" ng-maxlength="50" ng-model="empresa.Direccion" />
                                    <span ng-hide="empresa.direccion.$error.maxlength">
                                        <span ng-if="empresa.direccion.$invalid && empresa.direccion.$dirty" class="help-block">Ingrese la dirección de la empresa</span>
                                    </span>
                
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-class="{'has-error':empresa.correo2.$invalid && empresa.correo2.$touched, 'has-error2':empresa.correo2.$error.maxlength}">
                                    <label>Correo Empresa</label>
                                    <input class="form-control" ng-required="true" name="correo2" id="correo2" type="email" ng-maxlength="50" ng-model="empresa.Correo" />
                                    <span ng-hide="empresa.correo2.$error.maxlength">
                                        <span ng-if="empresa.correo2.$invalid && empresa.correo2.$dirty" class="help-block">Ingrese un correo válido</span>
                                    </span>
                                    <span ng-if="empresa.correo2.$error.maxlength" class="help-block">El correo puede tener máximo 50 caracteres </span>
                                </div>
                            </div>

                            
                            </div>
                        <div class="col-md-6">

                            <div class="form-group ">
                                <div ng-class="{'has-error':empresa.nombre.$invalid && empresa.nombre.$touched, 'has-error2':empresa.nombre.$error.maxlength}">
                                    <label>Nombre Empresa</label>
                                    <input class="form-control" ng-required="true" name="nombre" id="nombre" type="text" ng-maxlength="50" ng-model="empresa.NombreEmpresa" />
                                    <span ng-hide="empresa.nombre.$error.maxlength">
                                        <span ng-if="empresa.nombre.$invalid && empresa.nombre.$dirty" class="help-block">Ingrese el nombre de la empresa</span>
                                    </span>
                               
                                </div>
                            </div>

                            <div class="form-group">
                                <div ng-class="{'has-error':empresa.telefono.$invalid && empresa.telefono.$touched, 'has-error2':empresa.telefono.$error.maxlength}">
                                    <label>Teléfono Empresa</label>
                                    <input class="form-control" ng-required="true" name="telefono" id="telefono" type="number" ng-maxlength="7" ng-model="empresa.Telefono" />
                                    <span ng-hide="empresa.telefono.$error.maxlength">
                                        <span ng-if="empresa.telefono.$invalid && empresa.telefono.$dirty" class="help-block">Ingrese un teléfono válido</span>
                                    </span>
        
                                </div>
                            </div>
                            
                            </div>
                        </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="GuardarEdicionEmpresa()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Eliminar Registro-->
<div class="modal fade" id="modalInhabilitar" role="dialog">
    <div class="modal-dialog" style="width: 400px;">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center>
                    <h4 style="color:#1C75BB;">
                        CONFIRMAR INHABILITACIÓN
                    </h4>
                </center>
            </div>
            <div class="modal-body" style="height: 100px; overflow: auto;">
                <div class="form-group">
                    <label>¿Está seguro que desea cambiar el estado del registro? </label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success  btn-default" data-dismiss="modal" ng-click="inhabilitar()">Aceptar</button>
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<!--modal registrar Sede-->
<div class="modal fade" id="ModalSede" role="dialog" style="margin-top:-2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="height:80px; padding:5px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Registrar Sede</h4></center>
            </div>
            <div class="modal-body">
                <form name="sede" id="sede">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Seleccione Empresa</label>
                                <input class="form-control" id="empresasede" value="" disabled />
                            </div>
                            <div class="form-group">
                                <div ng-class="{'has-error':sede.nombre.$invalid && sede.nombre.$touched, 'has-error2':sede.nombre.$error.maxlength}">
                                    <label>Nombre Sede</label>
                                    <input class="form-control" ng-required="true" name="nombre" id="nombre" type="text" ng-maxlength="50" ng-model="sede.Nombre" />
                                    <span ng-hide="sede.nombre.$error.maxlength">
                                        <span ng-if="sede.nombre.$invalid && sede.nombre.$dirty" class="help-block">Ingrese el nombre de la sede</span>
                                    </span>
                         
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-class="{'has-error':sede.direccion.$invalid && sede.direccion.$touched, 'has-error2':sede.direccion.$error.maxlength}">
                                    <label>Dirección Sede</label>
                                    <input class="form-control" ng-required="true" name="direccion" id="direccion" type="text" ng-maxlength="50" ng-model="sede.Direccion" />
                                    <span ng-hide="sede.direccion.$error.maxlength">
                                        <span ng-if="sede.direccion.$invalid && sede.direccion.$dirty" class="help-block">Ingrese la dirección de la sede</span>
                                    </span>
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-class="{'has-error':sede.cargo.$invalid && sede.cargo.$touched, 'has-error2':sede.cargo.$error.maxlength}">
                                    <label>Cargo Coformador</label>
                                    <input class="form-control" ng-required="true" name="cargo" id="cargo" type="text" ng-maxlength="50" ng-model="sede.CargoCoformador" />
                                    <span ng-hide="sede.cargo.$error.maxlength">
                                        <span ng-if="sede.cargo.$invalid && sede.cargo.$dirty" class="help-block">Ingrese el cargo del coformador</span>
                                    </span>
                                    <span ng-if="sede.cargo.$error.maxlength" class="help-block">El cargo puede tener máximo 50 caracteres </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-class="{'has-error':sede.telco.$invalid && sede.telco.$touched, 'has-error2':sede.telco.$error.maxlength}">
                                    <label>Telefono Coformador</label>
                                    <input class="form-control" ng-required="true" name="telco" id="telco" type="number" ng-maxlength="11" ng-model="sede.TelefonoCoformador" />
                                    <span ng-hide="sede.telco.$error.maxlength">
                                        <span ng-if="sede.telco.$invalid && sede.telco.$dirty" class="help-block">Ingrese un correo válido</span>
                                    </span>
                                    <span ng-if="sede.telco.$error.maxlength" class="help-block">El correo puede tener máximo 11 caracteres </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div ng-class="{'has-error':sede.codigo.$invalid && sede.codigo.$touched, 'has-error2':sede.codigo.$error.maxlength}">
                                    <label>Codigo</label>
                                    <input class="form-control" ng-required="true" disabled name="codigo" id="codigo" type="text" ng-maxlength="15" ng-model="sede.Codigo" />
                                    <span ng-hide="sede.codigo.$error.maxlength">
                                        <span ng-if="sede.codigo.$invalid && sede.codigo.$dirty" class="help-block">Ingrese el Codigo de la sede</span>
                                    </span>
                             
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-class="{'has-error':sede.telefono.$invalid && sede.telefono.$touched, 'has-error2':sede.telefono.$error.maxlength}">
                                    <label>Telefono Sede</label>
                                    <input class="form-control" ng-required="true" name="telefono" id="telefono" type="number" ng-maxlength="11" ng-model="sede.Telefono" />
                                    <span ng-hide="sede.telefono.$error.maxlength">
                                        <span ng-if="sede.telefono.$invalid && sede.telefono.$dirty" class="help-block">Ingrese el telefono de la sede</span>
                                    </span>
                                    <span ng-if="sede.telefono.$error.maxlength" class="help-block">El correo puede tener máximo 11 caracteres </span>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div ng-class="{'has-error':sede.coformador.$invalid && sede.coformador.$touched, 'has-error2':sede.coformador.$error.maxlength}">
                                    <label>Nombre Coformador</label>
                                    <input class="form-control" ng-required="true" name="coformador" id="coformador" type="text" ng-maxlength="50" ng-model="sede.NombreCoformador" />
                                    <span ng-hide="sede.coformador.$error.maxlength">
                                        <span ng-if="sede.coformador.$invalid && sede.coformador.$dirty" class="help-block">Ingrese el nombre del coformador</span>
                                    </span>
                                    <span ng-if="empresa.sede.$error.maxlength" class="help-block">El nombre puede tener máximo 50 caracteres </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-class="{'has-error':sede.correo3.$invalid && empresa.correo3.$touched, 'has-error2':sede.correo3.$error.maxlength}">
                                    <label>Correo Coformador</label>
                                    <input class="form-control" ng-required="true" name="correo3" id="correo3" type="email" ng-maxlength="50" ng-model="sede.CorreoCoformador" />
                                    <span ng-hide="sede.correo3.$error.maxlength">
                                        <span ng-if="sede.correo3.$invalid && sede.correo3.$dirty" class="help-block">Ingrese un correo válido</span>
                                    </span>
                                    <span ng-if="sede.correo3.$error.maxlength" class="help-block">El correo puede tener máximo 50 caracteres </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Seleccione Estado</label>
                                <select class="estado" id="listaEs" ng-required="true" ng-model="sede.Estado" style="float:right;width:100%;">
                                    <option value="">Seleccione una sede...</option>
                                    <option value="Activo">Activo</option>
                                    <option value="Inactivo">Inactivo</option>

                                </select>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="GuardarSede()">Guardar</button>
                <button type="button" class="btn btn-default" ng-click="VaciarCampos()" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--modal editar Sede-->
<div class="modal fade" id="ModalEditarSede" role="dialog" style="margin-top:-2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="height:50px; padding:5px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Editar Sede</h4></center>
            </div>
            <div class="modal-body">
                <form name="sedes" id="sedes">


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Seleccione Empresa</label>
                                <select class="area" id="listasE" ng-required="true" ng-model="sede.IdEmpresa" style="float:right;width:100%;">
                                    <option value="">Seleccione una sede...</option>
                                    <option ng-repeat="empresas in Empresa" class="{{empresas.NombreEmpresa}}" value="{{empresas.IdEmpresa}}">{{empresas.NombreEmpresa}}/{{empresas.NitEmpresa}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div ng-class="{'has-error':sedes.nombre.$invalid && sedes.nombre.$touched, 'has-error2':sedes.nombre.$error.maxlength}">
                                    <label>Nombre Sede</label>
                                    <input class="form-control" ng-required="true" name="nombre" id="nombre" type="text" ng-maxlength="50" ng-model="sede.Nombre" />
                                    <span ng-hide="sedes.nombre.$error.maxlength">
                                        <span ng-if="sedes.nombre.$invalid && sedes.nombre.$dirty" class="help-block">Ingrese el nombre de la sede</span>
                                    </span>
                                 
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-class="{'has-error':sedes.direccion.$invalid && sedes.direccion.$touched, 'has-error2':sedes.direccion.$error.maxlength}">
                                    <label>Dirección Sede</label>
                                    <input class="form-control" ng-required="true" name="direccion" id="direccion" type="text" ng-maxlength="50" ng-model="sede.Direccion" />
                                    <span ng-hide="sedes.direccion.$error.maxlength">
                                        <span ng-if="sedes.direccion.$invalid && sedes.direccion.$dirty" class="help-block">Ingrese la dirección de la sede</span>
                                    </span>
                                 
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-class="{'has-error':sedes.cargo.$invalid && sedes.cargo.$touched, 'has-error2':sedes.cargo.$error.maxlength}">
                                    <label>Cargo Coformador</label>
                                    <input class="form-control" ng-required="true" name="cargo" id="cargo" type="text" ng-maxlength="50" ng-model="sede.CargoCoformador" />
                                    <span ng-hide="sedes.cargo.$error.maxlength">
                                        <span ng-if="sedes.cargo.$invalid && sedes.cargo.$dirty" class="help-block">Ingrese el cargo del coformador</span>
                                    </span>
                                    <span ng-if="sedes.cargo.$error.maxlength" class="help-block">El cargo puede tener máximo 50 caracteres </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-class="{'has-error':sedes.telco.$invalid && sedes.telco.$touched, 'has-error2':sedes.telco.$error.maxlength}">
                                    <label>Telefono Coformador</label>
                                    <input class="form-control" ng-required="true" name="telco" id="telco" type="number" ng-maxlength="50" ng-model="sede.TelefonoCoformador" />
                                    <span ng-hide="sedes.telco.$error.maxlength">
                                        <span ng-if="sedes.telco.$invalid && sedes.telco.$dirty" class="help-block">Ingrese un correo válido</span>
                                    </span>
                            
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div ng-class="{'has-error':sedes.codigo.$invalid && sedes.codigo.$touched, 'has-error2':sedes.codigo.$error.maxlength}">
                                    <label>Codigo</label>
                                    <input class="form-control" ng-required="true" name="codigo" id="codigo" type="text" ng-maxlength="15" ng-model="sede.Codigo" />
                                    <span ng-hide="sedes.codigo.$error.maxlength">
                                        <span ng-if="sedes.codigo.$invalid && sedes.codigo.$dirty" class="help-block">Ingrese el Codigo de la sede</span>
                                    </span>

                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-class="{'has-error':sedes.telefono.$invalid && sedes.telefono.$touched, 'has-error2':sedes.telefono.$error.maxlength}">
                                    <label>Telefono Sede</label>
                                    <input class="form-control" ng-required="true" name="telefono" id="telefono" type="number" ng-maxlength="50" ng-model="sede.Telefono" />
                                    <span ng-hide="sedes.telefono.$error.maxlength">
                                        <span ng-if="sedes.telefono.$invalid && sedes.telefono.$dirty" class="help-block">Ingrese el telefono de la sede</span>
                                    </span>
                                    <span ng-if="sedes.telefono.$error.maxlength" class="help-block">El correo puede tener máximo 50 caracteres </span>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div ng-class="{'has-error':sedes.coformador.$invalid && sedes.coformador.$touched, 'has-error2':sedes.coformador.$error.maxlength}">
                                    <label>Nombre Coformador</label>
                                    <input class="form-control" ng-required="true" name="coformador" id="coformador" type="text" ng-maxlength="50" ng-model="sede.NombreCoformador" />
                                    <span ng-hide="sedes.coformador.$error.maxlength">
                                        <span ng-if="sedes.coformador.$invalid && sedes.coformador.$dirty" class="help-block">Ingrese el nombre del coformador</span>
                                    </span>
                                    <span ng-if="sedes.coformador.$error.maxlength" class="help-block">El nombre puede tener máximo 50 caracteres </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-class="{'has-error':sedes.correo3.$invalid && sedes.correo3.$touched, 'has-error2':sedes.correo3.$error.maxlength}">
                                    <label>Correo Coformador</label>
                                    <input class="form-control" ng-required="true" name="correo3" id="correo3" type="email" ng-maxlength="50" ng-model="sede.CorreoCoformador" />
                                    <span ng-hide="sedes.correo3.$error.maxlength">
                                        <span ng-if="sedes.correo3.$invalid && sedes.correo3.$dirty" class="help-block">Ingrese un correo válido</span>
                                    </span>
                                    <span ng-if="sedes.correo3.$error.maxlength" class="help-block">El correo puede tener máximo 50 caracteres </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Seleccione Estado</label>
                                <input class="form-control" ng-required="true" name="estado" id="estado" type="text" ng-maxlength="50" ng-model="sede.Estado" />
                                <span ng-hide="sedes.estado.$error.maxlength">
                                    <span ng-if="sedes.estado.$invalid && sedes.estado.$dirty" class="help-block">Ingrese un estado</span>
                                </span>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="GuardarEdicionSede()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Cambiar Estado Registro Sede-->
<div class="modal fade" id="modalInhabilitarSede" role="dialog">
    <div class="modal-dialog" style="width: 400px;">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center>
                    <h4 style="color:#1C75BB;">
                        CONFIRMAR INHABILITACIÓN
                    </h4>
                </center>
            </div>
            <div class="modal-body" style="height: 100px; overflow: auto;">
                <div class="form-group">
                    <label>¿Está seguro que desea Cambiar el estado del registro? </label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success  btn-default" data-dismiss="modal" ng-click="inhabilitarSede()">Aceptar</button>
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Asignacion select 2-->
<script>
    $(function () {
        $(".area").select2();
        $(".area").select2({
            placeholder: "Seleccione una empresa...",
            allowClear: true
        });

    });


    $(function () {
        $(".estado").select2();
        $(".estado").select2({
            placeholder: "Seleccione un estado...",
            allowClear: true
        });

    });
</script>