﻿<!--Tabla Principal-->
<div>
    <div class="Principal Transicion" style="padding-top: 75px !important;">
        <div class="col-md-12">
            <br />
            <br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 style="text-align:center; font-weight:600;">Fichas</h1>
                    <div class="col-md-3  col-sm-3 col-xs-3" style="margin-left:-0.8%">
                        <input class="form-control" ng-keyup="Filter($event)" id="Buscar" placeholder="Buscar" />
                    </div>
                    <input id="UploadFileWebAbierta" type="file" accept=".xlsx" style="display: none;" />
                    <button class="btn btn-default" id="excel" ng-click="UploadFileWebAbierta()" title="Subir Archivo " style="height: 34px;">
                        <i class="glyphicon glyphicon-open"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="modificar" ng-click="ModificarFicha()" title="Editar Fichas" style="height: 34px;">
                        <i class="glyphicon glyphicon-pencil" style="color:blue;"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="atras" ng-click="atras()" title="Volver" style="height: 34px;">
                        <i class="glyphicon glyphicon-arrow-left"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="inhabilitadasTiempo" title="Fichas Terminadas Por Fecha" ng-click="FichasInactivasPorTiempo()" style="height: 34px;">
                        <i class="glyphicon glyphicon-time" style="color:deepskyblue;"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="cambiar" title="Descargar Plantilla" style="height: 34px;">
                        <a class="glyphicon glyphicon-list-alt" href="../Plantillas/PlantillaFichas.xlsx" style="color:#08c;text-decoration:none"></a>
                    </button>
                    <button class="btn btn-default" type="button" id="boton" ng-click="AbrirModalFichaAbierta()" title="Registrar Fichas" style="height: 34px;">
                        <i class="glyphicon glyphicon-plus" style="color:green;"></i>
                    </button>
                    <button class="btn btn-default" type="button" id="boton" ng-click="AbrirAprendices()" title="Realizar Inducción Lectiva" style="height: 34px;">
                        <i class="glyphicon glyphicon-th-list" style="color:green;"></i>
                    </button>

                    <br />
                    <br />
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width:20px"></th>

                                <th class="paginationclass" style="font-weight:bold;">Ficha</th>
                                <th class="paginationclass" style="font-weight:bold;">Programa de Formación</th>
                                <th class="paginationclass" style="font-weight:bold;">Modalidad de Formación</th>
                                <th class="paginationclass" style="font-weight:bold;">Jornada</th>
                                <th class="paginationclass" style="font-weight:bold;">Fecha Inicio</th>
                                <th class="paginationclass" style="font-weight:bold;">Fecha Fin</th>
                                <th class="paginationclass" style="font-weight:bold;">Detalles</th>
                            </tr>
                        </thead>
                        <tbody class="searchable">
                            <tr class="paginationclass" ng-repeat="datalist in datalists | pagination: curPage * pageSize | limitTo: pageSize">
                                <td><input ng-model="datalist.Seleccionado" type="checkbox" id="{{datalist.IdFicha}}" /></td>
                                <td>{{datalist.Parametro2 | uppercase}}</td>
                                <td>{{datalist.Parametro8 | uppercase}}</td>
                                <td>{{datalist.Parametro4 | uppercase}}</td>
                                <td>{{datalist.Parametro9 | uppercase}}</td>
                                <td>{{datalist.Parametro6 | uppercase}}</td>
                                <td>{{datalist.Parametro7 | uppercase}}</td>
                                <td class="text-center" style="width:10.26%">
                                    <button class="btn btn-primary" type="button" id="modificar" ng-click="DetallesFicha(datalist.Parametro1)" title="Detalles Ficha" style="height: 34px;">
                                        <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="pagination pagination-centered" ng-show="datalists.length" style="float:right">
                        <ul class="pagination-controle pagination">
                            <li>
                                <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                                        ng-click="curPage=curPage-1">
                                    Anterior
                                </button>
                            </li>
                            <li>
                                <span>Pág {{curPage + 1}} de {{ numberOfPages() }}</span>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary"
                                        ng-disabled="curPage >= datalists.length/pageSize - 1"
                                        ng-click="curPage = curPage+1">
                                    Siguiente
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal registrar ficha-->
<div class="modal fade" id="ModalFicha" role="dialog" style="margin-top:-2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Registrar Ficha</h4></center>
            </div>
            <div class="modal-body" style="height:620px;">
                <form name="ficha" id="ficha">
                    <div class="row  col-md-12 col-sm-12 col-xs-12" style="margin-left:0%;">
                        <div class="form-group">
                            <label>Seleccione Centro de Formación</label>
                            <select class="centros" id="centros" ng-required="true" ng-model="Centro.IdCentro" style="float:right;width:100%;">
                                <option value="">Seleccione Centro...</option>
                                <option ng-repeat="centros in Centro" class="{{centros.NombreCentro}}" value="{{centros.IdCentro}}">{{centros.NombreCentro}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%;">
                        <div ng-class="{'has-error':ficha.ficha1.$invalid && ficha.ficha1.$touched, 'has-error2':ficha.ficha1.$error.maxlength}">
                            <label>Identificador Ficha</label>
                            <input type="number" name="ficha1" id="ficha1" ng-required="true" class="form-control" ng-maxlength="10" ng-model="Ficha.IdentificadorFicha" />
                            <span ng-hide="ficha.ficha1.$error.maxlength">
                                <span ng-if="ficha.ficha1.$invalid && ficha.ficha1.$dirty" class="help-block">Ingrese el número de la ficha</span>
                            </span>
                            <span ng-if="ficha.ficha1.$error.maxlength" class="help-block">Ingrese el número de la ficha</span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <label>Jornada</label>
                        <select class="form-control" ng-required="true" ng-model="Ficha.Jornada">
                            <option>DIURNO</option>
                            <option>NOCTURNO</option>
                            <option>VIRTUAL</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <label>Tipo Respuesta</label>
                        <select class="form-control" ng-required="true" ng-model="Ficha.TipoRespuesta">
                            <option>OFERTA ABIERTA</option>
                            <option>OFERTA CERRADA</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <label>Área de Formación</label>
                        <select class="areas" id="area" ng-required="true" ng-model="area" ng-change="ConsultarProgramaxArea(area)" style="width:100%;">
                            <option ng-repeat="area in Area" class="{{area.Parametro4}}" value="{{area.Parametro1}}">{{area.Parametro4 | uppercase}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <label>Programa de Formación</label>
                        <select class="programas" id="programa" ng-required="true" ng-model="Ficha.IdPrograma" ng-change="SeleccionarNivelAcademico(Ficha.IdPrograma)" style="width:100%;">
                            <option ng-repeat="programa in Programa" class="{{programa.NombrePrograma}}" title="{{programa.Nivel}}" value="{{programa.IdPrograma}}">{{programa.NombrePrograma | uppercase}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <label>Nivel Académico</label>
                        <select class="form-control" id="Nivel" ng-required="true" ng-model="Ficha.TipoFormacion" readonly disabled="disabled">
                            <option>AUXILIAR</option>
                            <option>TÉCNICO</option>
                            <option>TECNÓLOGO</option>
                            <option>TECNÓLOGO VIRTUAL</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <label>Nombre del Responsable</label>
                        <select class="form-control" id="responsable" ng-required="true" readonly disabled="disabled" style="width:100%;">
                            <option ng-repeat="cordi in Coordinacion" class="{{cordi.Parametro2}}" value="{{cordi.Parametro1}}">{{cordi.Parametro2 + " " + cordi.Parametro3 | uppercase}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <div ng-class="{'has-error':ficha.numero.$invalid && ficha.numero.$touched, 'has-error2':ficha.numero.$error.maxlength}">
                            <label>Total Aprendices</label>
                            <input type="number" name="numero" id="numero" ng-required="true" class="form-control" ng-maxlength="5" ng-model="Ficha.TotalAprendices" />
                            <span ng-hide="ficha.numero.$error.maxlength">
                                <span ng-if="ficha.numero.$invalid && ficha.numero.$dirty" class="help-block">Ingrese el número de aprendices</span>
                            </span>
                            <span ng-if="ficha.numero.$error.maxlength" class="help-block">La cantidad de aprendices puede tener máximo 5 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <div class="form-group">
                            <label>Fecha Incio</label>
                            <input class="form-control" style="width:100%;" ng-model="Ficha.FechaInicioFicha" id="FechaInicio" />
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <div class="form-group">
                            <label>Fecha Fin</label>
                            <input class="form-control" style="width:250px;" ng-model="Ficha.FechaFinFicha" id="FechaFin" />
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-left:-2%;">
                            <label>Modalidad de Formación</label>
                            <select class="form-control" id="formacion" ng-required="true" ng-model="Ficha.ModalidadFormacion" style="width:106%; margin-left:-1.5%;">
                                <option>PRESENCIAL</option>
                                <option>VIRTUAL</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-left:2%;">
                            <label>Número de meses EP</label>
                            <input type="number" name="numeroMes" id="numeroMes" ng-required="true" class="form-control" ng-maxlength="5" ng-model="Ficha.NumeroMesesEp" />
                            <span ng-hide="ficha.numeroMes.$error.maxlength">
                                <span ng-if="ficha.numeroMes.$invalid && ficha.numeroMes.$dirty" class="help-block">Ingrese el número de meses</span>
                            </span>
                            <span ng-if="ficha.numeroMes.$error.maxlength" class="help-block">La cantidad de meses puede tener máximo 5 caracteres </span>
                        </div>
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label>Número de meses EL</label>
                        <input type="number" name="numeroMesLec" id="numeroMesLec" ng-required="true" class="form-control" ng-maxlength="5" ng-model="Ficha.NumeroMesesEl" />
                        <span ng-hide="ficha.numeroMesLec.$error.maxlength">
                            <span ng-if="ficha.numeroMesLec.$invalid && ficha.numeroMesLec.$dirty" class="help-block">Ingrese el número de meses</span>
                        </span>
                        <span ng-if="ficha.numeroMesLec.$error.maxlength" class="help-block">La cantidad de meses puede tener máximo 5 caracteres </span>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:4%; margin-right:0%;">
                        <label>Capacitación SGVA</label><input type="checkbox" style="height: 18px; width: 18px; position:absolute; margin-left:3%; margin-top:0%;" ng-model="Ficha.CapacitacionSGVA" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="Guardar()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Editar Registro-->
<div class="modal fade" id="ModalEditar" role="dialog" style="margin-top:-2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Editar Ficha</h4></center>
            </div>
            <div class="modal-body" style="height:700px;">
                <form name="ficha2" id="ficha2">
                    <div class="row  col-md-12 col-sm-12 col-xs-12" style="margin-left:0%;">
                        <div class="form-group">
                            <label>Seleccione Centro de Formación</label>
                            <select class="Centross form-control" id="Centross" ng-required="true" ng-model="Centro.IdCentro" style="float:right;width:100%;">
                                <option ng-repeat="centros in Centro" class="{{centros.NombreCentro}}" value="{{centros.IdCentro}}">{{centros.NombreCentro}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%;">
                        <div ng-class="{'has-error':ficha.ficha.$invalid && ficha2.ficha.$touched, 'has-error2':ficha2.ficha.$error.maxlength}">
                            <label>Identificador Ficha</label>
                            <input type="text" name="ficha" id="ficha" ng-required="true" class="form-control" ng-maxlength="10" ng-model="Ficha.IdentificadorFicha" />
                            <span ng-hide="ficha2.ficha.$error.maxlength">
                                <span ng-if="ficha2.ficha.$invalid && ficha2.ficha.$dirty" class="help-block">Ingrese el número de la ficha</span>
                            </span>
                            <span ng-if="ficha2.ficha.$error.maxlength" class="help-block">Ingrese el número de la ficha</span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <label>Jornada</label>
                        <select class="form-control" ng-required="true" ng-model="Ficha.Jornada">
                            <option>DIURNO</option>
                            <option>NOCTURNO</option>
                            <option>VIRTUAL</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <label>Tipo Respuesta</label>
                        <select class="form-control" ng-required="true" id="Oferta" ng-model="Ficha.TipoRespuesta">
                            <option>OFERTA ABIERTA</option>
                            <option>OFERTA CERRADA</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <label>Área de Formación</label>
                        <select class="listas form-control" id="listas" ng-required="true" ng-model="area" ng-change="ConsultarProgramaxArea(area)" style="width:100%;">
                            <option ng-repeat="area in Area" class="{{area.Parametro4}}" value="{{area.Parametro1}}">{{area.Parametro4 | uppercase}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <label>Programa de Formación</label>
                        <select class="ListaProgramasModificar form-control" id="ListaProgramasModificar" ng-required="true" ng-model="Ficha.IdPrograma" ng-change="SeleccionarNivelAcademico(Ficha.IdPrograma)" style="width:100%;">
                            <option ng-repeat="programa in Programa" class="{{programa.NombrePrograma}}" title="{{programa.Nivel}}" value="{{programa.IdPrograma}}">{{programa.NombrePrograma | uppercase}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <label>Nivel Académico</label>
                        <select class="form-control" id="Nivel" ng-required="true" ng-model="Ficha.TipoFormacion" readonly disabled="disabled">
                            <option>AUXILIAR</option>
                            <option>TÉCNICO</option>
                            <option>TECNÓLOGO</option>
                            <option>TECNÓLOGO VIRTUAL</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <label>Nombre del Responsable</label>
                        <select class="form-control" id="responsable" ng-required="true" readonly disabled="disabled" style="width:100%;">
                            <option ng-repeat="cordi in Coordinacion" class="{{cordi.Parametro2}}" value="{{cordi.Parametro1}}">{{cordi.Parametro2 + " "+ cordi.Parametro3 | uppercase}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <div ng-class="{'has-error':ficha2.numero1.$invalid && ficha2.numero1.$touched, 'has-error2':ficha2.numero1.$error.maxlength}">
                            <label>Total Aprendices</label>
                            <input type="number" name="numero1" id="numero1" ng-required="true" class="form-control" ng-maxlength="5" ng-model="Ficha.TotalAprendices" />
                            <span ng-hide="ficha2.numero1.$error.maxlength">
                                <span ng-if="ficha2.numero1.$invalid && ficha.numero1.$dirty" class="help-block">Ingrese el número de aprendices</span>
                            </span>
                            <span ng-if="ficha2.numero1.$error.maxlength" class="help-block">La cantidad de aprendices puede tener máximo 5 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <div class="form-group">
                            <label>Fecha Incio</label>
                            <input class="form-control" style="width:250px;" ng-model="Ficha.FechaInicioFicha" id="FechaInicio1" />
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <div class="form-group">
                            <label>Fecha Fin</label>
                            <input class="form-control" style="width:250px;" ng-model="Ficha.FechaFinFicha" id="FechaFin1" />
                        </div>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6" style="margin-top:1%">
                        <div class="form-group">
                            <label>Fecha Visita Dos</label>
                            <input class="form-control" style="width:250px;" ng-model="Ficha.FechaMomentoDos" id="FechaMomentoDos" />
                        </div>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6" style="margin-top:1%">
                        <div class="form-group">
                            <label>Fecha Visita Tres</label>
                            <input class="form-control" style="width:250px;" ng-model="Ficha.FechaMomentoTres" id="FechaMomentoTres" />
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-left:0%;">
                        <label>Modalidad de Formación</label>
                        <select class="form-control" id="formacion" ng-required="true" ng-model="Ficha.ModalidadFormacion" style="width:100%;">
                            <option>PRESENCIAL</option>
                            <option>VIRTUAL</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-left:0%;">
                        <label>Número de meses EP</label>
                        <input type="text" name="numeroMeses" id="numeroMeses" ng-required="true" class="form-control" ng-maxlength="5" ng-model="Ficha.NumeroMesesEp" />
                        <span ng-hide="ficha2.numeroMeses.$error.maxlength">
                            <span ng-if="ficha2.numeroMeses.$invalid && ficha2.numeroMeses.$dirty" class="help-block">Ingrese el número de meses</span>
                        </span>
                        <span ng-if="ficha2.numeroMeses.$error.maxlength" class="help-block">La cantidad de meses puede tener máximo 5 caracteres </span>
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label>Número de meses EL</label>
                        <input type="text" name="numeroMesEditar" id="numeroMesEditar" ng-required="true" class="form-control" ng-maxlength="5" ng-model="Ficha.NumeroMesesEl" />
                        <span ng-hide="ficha2.numeroMesEditar.$error.maxlength">
                            <span ng-if="ficha2.numeroMesEditar.$invalid && ficha2.numeroMesEditar.$dirty" class="help-block">Ingrese el número de meses</span>
                        </span>
                        <span ng-if="ficha2.numeroMesEditar.$error.maxlength" class="help-block">La cantidad de meses puede tener máximo 5 caracteres </span>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:4%; margin-right:0%;">
                        <label>Capacitación SGVA</label><input type="checkbox" style="height: 18px; width: 18px; position:absolute; margin-left:3%; margin-top:0%;" ng-model="Ficha.CapacitacionSGVA" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="GuardarEdicionFicha()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal momentos-->
<!--<div class="modal fade" id="ModalMomento" role="dialog" style="margin-top:-2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Momentos ficha</h4></center>
            </div>
            <div class="modal-body" style="height:200px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-left:-3%; margin-top:1%;">

                        <input type="checkbox" name="MomentoUno" id="MomentoUno" ng-model="MomentosFicha.MomentoUno" />
                        <label style="font-size:12.3px;">Inducción Lectiva Dos</label>

                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="form-group">
                            <input class="form-control" style="width:160px;" ng-model="Ficha.FechaMomentoDos" id="FechaMomentoD" disabled />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="form-group">
                            <input class="form-control" style="width:250px;" ng-model="MomentosFicha.FechaUno" id="FechaMomentoDEditar" />
                        </div>
                    </div>

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div style="margin-left:-3%; margin-top:1%;" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                        <input type="checkbox" name="MomentoDos" ng-model="MomentosFicha.MomentoDos" />
                        <label style="font-size:12px;">Inducción Lectiva Tres</label>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="form-group">
                            <input class="form-control" style="width:160px;" ng-model="Ficha.FechaMomentoTres" id="FechaMomentoT" disabled />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="form-group">
                            <input class="form-control" style="width:160px;" ng-model="MomentosFicha.FechaDos" id="FechaMomentoTEditar" />
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="GuardarMomento()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>-->
<!--Aprendices-->
<div class="modal fade" id="ModalFichaAprendiz" role="dialog" style="margin-top:-2%;">
    <div class="modal-dialog  modal-lg" style="width:80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row" style="margin-bottom:1%;margin-top:2%">
                    <div class="col-md-6">
                        <h4 style="font-weight: bold;margin-left: 38%;">Validar presencia de aprendices de la fichas: </h4>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="fichaaprendiz" value="" disabled style="width:50%" />
                    </div>
                </div>
            </div>
            <div class="modal-body" style="height:655px;">
                <div class="col-md-10 text-center" style="margin-left:15%">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-left:-3%; margin-top:1%;">

                            <input type="checkbox" name="MomentoUno" id="MomentoUno" ng-model="MomentosFicha.MomentoUno" />
                            <label style="font-size:16px;">Inducción Lectiva Dos</label>

                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="form-group">
                                <input class="form-control" style="width:160px;" ng-model="Ficha.FechaMomentoDos" id="FechaMomentoD" disabled />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <input class="form-control" style="width:160px;" ng-model="MomentosFicha.FechaUno" id="FechaMomentoDEditar" />
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div style="margin-left:-3%; margin-top:1%;" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                            <input type="checkbox" name="MomentoDos" ng-model="MomentosFicha.MomentoDos" />
                            <label style="font-size:16px;">Inducción Lectiva Tres</label>

                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="form-group">
                                <input class="form-control" style="width:160px;" ng-model="Ficha.FechaMomentoTres" id="FechaMomentoT" disabled />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <input class="form-control" style="width:160px;" ng-model="MomentosFicha.FechaDos" id="FechaMomentoTEditar" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered" style="margin-top:1%;">
                        <thead style="display:block;">
                            <tr style="width:100%">
                                <th style="width:2.9%; text-align:center" title="Lista">L</th>
                                <th style="width:2.9%;text-align:center" title="Condicionados">C</th>
                                <th class="paginationclass" style="font-weight: bold;width:10.15%">Número Documento</th>
                                <th class="paginationclass" style="font-weight: bold;width:11.35%">Nombres</th>
                                <th class="paginationclass" style="font-weight: bold;width:11.4%">Apellidos</th>
                                <th class="paginationclass" style="font-weight: bold;width:14%">Email</th>
                                <th class="paginationclass" style="font-weight: bold;width:6.65%">Teléfono</th>
                                <th class="paginationclass" style="font-weight: bold;width:7.15%">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="searchable" style="height:460px;overflow-y:auto;display:block">
                            <tr class="paginationclass" ng-repeat="datalist in datalistar">
                                <td style="width:3.75%;">
                                    <input class="text-center" ng-model="datalist.Seleccionado" type="checkbox" id="{{datalist.IdAprendiz}}" style="margin-left: 36%; margin-top:27%" />
                                </td>
                                <td style="width:3.75%">
                                    <input ng-model="condiciones" ng-click="condicion(datalist.IdAprendiz)" type="checkbox" id="h{{datalist.IdAprendiz}}" style="margin-left: 36%; margin-top:27%" />
                                </td>
                                <td style="width:13.15%">{{ datalist.NumeroDocumento | uppercase}}</td>
                                <td style="width:14.7%">{{ datalist.Nombres | uppercase}}</td>
                                <td style="width:14.8%">{{ datalist.Apellidos | uppercase}}</td>
                                <td style="width:18.2%">{{ datalist.Correo | uppercase}}</td>
                                <td style="width:8.6%">{{ datalist.Telefono | uppercase}}</td>
                                <td class="text-center" style="width:9%">
                                

                                    <button class="btn btn-primary" type="button" id="modificar" ng-click="Gestionar(datalist.IdAprendiz)" title="Editar Fichas" style="height: 34px;">
                                        <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
          
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="GuardarAprendices()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Editar Aprendices-->
<div class="modal fade" id="ModalAprendizEditar" role="dialog" style="margin-top: -2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Editar Aprendiz</h4></center>
            </div>
            <div class="modal-body" style="height:430px;">
                <form name="aprendiz" id="aprendiz">
                    <div class="form-group col-md-12 col-sm-12 col-xs-12" style="margin-top:2%">
                        <label>Seleccione una ficha</label>
                        <select class="listar" id="listaredit" ng-required="true" ng-model="Ficha.IdFicha" style="float: right;width:100%;" disabled>
                            <option value=""></option>
                            <option ng-repeat="fichas in datalists" class="{{fichas.Parametro2}}" value="{{fichas.Parametro1}}">{{fichas.Parametro2}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <div ng-class="{'has-error':aprendiz.NumDocEditar.$invalid && aprendiz.NumDocEditar.$touched, 'has-error2':aprendiz.NumDocEditar.$error.maxlength}">
                            <label>Numero Documento</label>
                            <input type="text" name="NumDocEditar" id="NumDocEditar" ng-required="true" class="form-control" ng-maxlength="11" ng-model="Aprendiz.NumeroDocumento" disabled />
                            <span ng-hide="aprendiz.NumDocEditar.$error.maxlength">
                                <span ng-if="aprendiz.NumDocEditar.$invalid && aprendiz.NumDocEditar.$dirty" class="help-block">Ingrese el numero de documento</span>
                            </span>
                            <span ng-if="aprendiz.NumDocEditar.$error.maxlength" class="help-block">El numero de documento puede tener máximo 11 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <label>Seleccione un tipo de documento</label>
                        <select class="listart" id="listar" ng-required="true" ng-model="Aprendiz.TipoDocumento" style="float: right;width:100%;" disabled>
                            <option value="TI">TI</option>
                            <option value="CC">CC</option>
                            <option value="CE">CE</option>
                            <option value="PASAPORTE">PASAPORTE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <div ng-class="{'has-error':aprendiz.NombreAprendiz.$invalid && aprendiz.NombreAprendiz.$touched, 'has-error2':aprendiz.NombreAprendiz.$error.maxlength}">
                            <label>Nombre</label>
                            <input type="text" name="NombreAprendiz" id="NombreAprendiz" ng-required="true" class="form-control" ng-maxlength="50" ng-model="Aprendiz.Nombres" />
                            <span ng-hide="aprendiz.NombreAprendiz.$error.maxlength">
                                <span ng-if="aprendiz.NombreAprendiz.$invalid && aprendiz.NombreAprendiz.$dirty" class="help-block">Ingrese el nombre del aprendiz</span>
                            </span>
                            <span ng-if="aprendiz.NombreAprendiz.$error.maxlength" class="help-block">El nombre del aprendiz puede tener máximo 50 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <div ng-class="{'has-error':aprendiz.ApellidoAprendiz.$invalid && aprendiz.ApellidoAprendiz.$touched, 'has-error2':aprendiz.ApellidoAprendiz.$error.maxlength}">
                            <label>Primer Apellido</label>
                            <input type="text" name="ApellidoAprendiz" id="ApellidoAprendiz" ng-required="true" class="form-control" ng-maxlength="50" ng-model="Aprendiz.PrimerApellido" />
                            <span ng-hide="aprendiz.ApellidoAprendiz.$error.maxlength">
                                <span ng-if="aprendiz.ApellidoAprendiz.$invalid && aprendiz.ApellidoAprendiz.$dirty" class="help-block">Ingrese el apellido del aprendiz</span>
                            </span>
                            <span ng-if="Aprendiz.Apellido.$error.maxlength" class="help-block">El apellido del aprendiz puede tener máximo 50 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <div ng-class="{'has-error':aprendiz.ApellidoAprendiz.$invalid && aprendiz.ApellidoAprendiz.$touched, 'has-error2':aprendiz.ApellidoAprendiz.$error.maxlength}">
                            <label>Segundo Apellido</label>
                            <input type="text" name="ApellidoAprendiz" id="ApellidoAprendiz" ng-required="true" class="form-control" ng-maxlength="50" ng-model="Aprendiz.SegundoApellido" />
                            <span ng-hide="aprendiz.ApellidoAprendiz.$error.maxlength">
                                <span ng-if="aprendiz.ApellidoAprendiz.$invalid && aprendiz.ApellidoAprendiz.$dirty" class="help-block">Ingrese el apellido del aprendiz</span>
                            </span>
                            <span ng-if="Aprendiz.Apellido.$error.maxlength" class="help-block">El apellido del aprendiz puede tener máximo 50 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <div ng-class="{'has-error':aprendiz.correo2.$invalid && aprendiz.correo2.$touched, 'has-error2':aprendiz.correo2.$error.maxlength}">
                            <label>Correo</label>
                            <input class="form-control" ng-required="true" name="correo2" id="correo2" type="email" ng-maxlength="50" ng-model="Aprendiz.Correo" />
                            <span ng-hide="aprendiz.correo2.$error.maxlength">
                                <span ng-if="aprendiz.correo2.$invalid && aprendiz.correo2.$dirty" class="help-block">Ingrese un correo válido</span>
                            </span>
                            <span ng-if="aprendiz.correo2.$error.maxlength" class="help-block">El correo puede tener máximo 50 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                        <div ng-class="{'has-error':Aprendiz.telefono.$invalid && Aprendiz.telefono.$touched, 'has-error2':Aprendiz.telefono.$error.maxlength}">
                            <label>Teléfono</label>
                            <input class="form-control" type="text" name="telefono" id="telefono" ng-required="true" ng-maxlength="10" ng-model="Aprendiz.Telefono" />
                            <span ng-hide="Aprendiz.telefono.$error.maxlength">
                                <span ng-if="Aprendiz.telefono.$invalid && Aprendiz.telefono.$dirty" class="help-block">Ingrese el teléfono del aprendiz</span>
                            </span>
                            <span ng-if="Aprendiz.telefono.$error.maxlength" class="help-block">El teléfono puede tener máximo 10 caracteres </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:5%">
                        <label>Programa DPS  </label><input type="checkbox" style="height: 18px; width: 18px;" ng-model="Aprendiz.PoblacionDPS" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="GuardarModicarAprendiz()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Condicionados-->
<div class="modal fade" id="ModalFichaAprendizCondicion" role="dialog" style="margin-top:-2%;">
    <div class="modal-dialog  modal-lg" style="width:65%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Aprendices Condicionados</h4></center>
            </div>
            <div class="modal-body" style="height:550px;">
                <div class="col-md-12">

                    <div class="form-group" style="margin-bottom:6%">
                        <label style="margin-top:5px" class="control-label col-md-5">Seleccione los aprendices condicionados de la ficha: </label>
                        <div class="col-md-2">
                            <input class="form-control" type="text" value="" disabled />
                        </div>
                    </div>

                    <table class="table table-bordered">
                        <thead style="display:block;">
                            <tr style="width:100%">
                                <th style="width:3.75%"></th>
                                <th class="paginationclass" style="font-weight: bold;width:13.15%">Número Documento</th>
                                <th class="paginationclass" style="font-weight: bold;width:14.7%">Nombres</th>
                                <th class="paginationclass" style="font-weight: bold;width:14.8%">Apellidos</th>
                                <th class="paginationclass" style="font-weight: bold;width:35.8%">Descripción de la condición</th>
                            </tr>
                        </thead>
                        <tbody class="searchable" style="height:400px;overflow-y:auto;display:block">
                            <tr class="paginationclass" ng-repeat="datalista in datalistare">
                                <td style="width:1.1%">
                                    <input ng-model="datalista.Seleccionado" type="checkbox" id="{{datalista.IdAprendiz}}" />
                                </td>
                                <td style="width:4.4%;">{{ datalista.NumeroDocumento | uppercase}}</td>
                                <td style="width:6.4%;">{{ datalista.Nombres | uppercase}}</td>
                                <td style="width:7.46%;">{{ datalista.Apellidos | uppercase}}</td>
                                <td style="width:17.8%;"><input type="text" /></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="GuardarAprendices()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Detalles de la ficha-->
<div class="modal fade" id="ModalDetalles" role="dialog" style="margin-top:-2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Editar Ficha</h4></center>
            </div>
            <div class="modal-body" style="height:700px;">
                <form name="ficha2" id="ficha2">
                    <div class="row  col-md-12 col-sm-12 col-xs-12" style="margin-left:0%;">
                        <div class="form-group">
                            <label>Centro de Formación</label>
                            <select class="form-control" id="Centro" ng-required="true" ng-model="Centro.IdCentro" style="float:right;width:100%;" disabled>
                                <option ng-repeat="centros in Centro" class="{{centros.NombreCentro}}" value="{{centros.IdCentro}}">{{centros.NombreCentro}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%;">
                        <label>Identificador Ficha</label>
                        <input type="text" name="ficha" id="ficha" ng-required="true" class="form-control" ng-maxlength="10" ng-model="Ficha.IdentificadorFicha" disabled />
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <label>Jornada</label>
                        <input class="form-control" ng-required="true" ng-model="Ficha.Jornada" disabled>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <label>Tipo Respuesta</label>
                        <input class="form-control" ng-required="true" id="Oferta" ng-model="Ficha.TipoRespuesta" disabled>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <label>Área de Formación</label>
                        <select class="listas form-control" id="listas" ng-required="true" ng-model="area" ng-change="ConsultarProgramaxArea(area)" style="width:100%;" disabled>
                            <option ng-repeat="area in Area" class="{{area.Parametro4}}" value="{{area.Parametro1}}">{{area.Parametro4 | uppercase}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <label>Programa de Formación</label>
                        <select class="ListaProgramasModificar form-control" id="ListaProgramasModificar" ng-required="true" ng-model="Ficha.IdPrograma" ng-change="SeleccionarNivelAcademico(Ficha.IdPrograma)" style="width:100%;" disabled>
                            <option ng-repeat="programa in Programa" class="{{programa.NombrePrograma}}" title="{{programa.Nivel}}" value="{{programa.IdPrograma}}">{{programa.NombrePrograma | uppercase}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <label>Nivel Académico</label>
                        <input class="form-control" id="Nivel" ng-required="true" ng-model="Ficha.TipoFormacion" disabled>

                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <label>Nombre del Responsable</label>
                        <select class="form-control" id="responsable" ng-required="true" readonly disabled="disabled" style="width:100%;">
                            <option ng-repeat="cordi in Coordinacion" class="{{cordi.Parametro2}}" value="{{cordi.Parametro1}}">{{cordi.Parametro2 + " "+ cordi.Parametro3 | uppercase}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <label>Total Aprendices</label>
                        <input type="number" name="numero1" id="numero1" ng-required="true" class="form-control" ng-maxlength="5" ng-model="Ficha.TotalAprendices" disabled />
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <div class="form-group">
                            <label>Fecha Incio</label>
                            <input class="form-control" style="width:250px;" ng-model="Ficha.FechaInicioFicha" id="FechaInicio1" disabled />
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:1%">
                        <div class="form-group">
                            <label>Fecha Fin</label>
                            <input class="form-control" style="width:250px;" ng-model="Ficha.FechaFinFicha" id="FechaFin1" disabled />
                        </div>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6" style="margin-top:1%">
                        <div class="form-group">
                            <label>Fecha Visita Dos</label>
                            <input class="form-control" style="width:250px;" ng-model="Ficha.FechaMomentoDos" id="FechaMomentoDos" disabled />
                        </div>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6" style="margin-top:1%">
                        <div class="form-group">
                            <label>Fecha Visita Tres</label>
                            <input class="form-control" style="width:250px;" ng-model="Ficha.FechaMomentoTres" id="FechaMomentoTres" disabled />
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label>Modalidad de Formación</label>
                        <input class="form-control" id="formacion" ng-required="true" ng-model="Ficha.ModalidadFormacion" style="width:100%;" disabled>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label>Número de meses EP</label>
                        <input type="text" name="numeroMeses" id="numeroMeses" ng-required="true" class="form-control" ng-maxlength="5" ng-model="Ficha.NumeroMesesEp" disabled />
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label>Número de meses EL</label>
                        <input type="text" name="numeroMesEditar" id="numeroMesEditar" ng-required="true" class="form-control" ng-maxlength="5" ng-model="Ficha.NumeroMesesEl" disabled />
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:4%; margin-right:0%;">
                        <label>Capacitación SGVA</label><input type="checkbox" style="height: 18px; width: 18px; position:absolute; margin-left:3%; margin-top:0%;" ng-model="Ficha.CapacitacionSGVA" disabled />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>




<!--modal registro Aprendiz-->
<div class="modal fade" id="ModalGestion" role="dialog" style="margin-top: -2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Registrar Aprendiz</h4></center>
            </div>
            <div class="modal-body">

                <div class="row">

                    <button class="btn" id="mostrarUno" style="border-radius:100%; margin-left:15%; background:#fc7323; color:white;">1</button>

                    <hr style="height:1px; background:#fc7323; width:60%; margin-top:-3%;" />

                    <button class="btn" id="mostrarDos" style="border-radius:100%; margin-top:-11.5%; margin-left:80%; background:#fff; border:1px solid #fc7323;">2</button>

                    <!--<div id="panel1" style="height:100px; width:100px; background:blue; display:block;"></div>-->
                    <!--<div id="panel2" style="height:100px; width:100px; background:red; display:none;"></div>-->
                </div>

                <div class="row" id="panel1">
                    <form name="gestion1">

                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Numero Documento</label>
                                <input type="number" disabled name="NumDocg" id="NumDocg" ng-required="true" class="form-control" ng-maxlength="20" ng-model="Aprendiz.NumeroDocumento" />
                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Nombre</label>
                                <input type="text" disabled name="NombreAprendizga" id="NombreAprendizga" ng-required="true" class="form-control" ng-maxlength="50" ng-model="Aprendiz.Nombres" />
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Apellido1</label>
                                <input type="text" disabled name="ApellidoAprendiz1" id="ApellidoAprendiz1" ng-required="true" class="form-control" ng-maxlength="50" ng-model="Aprendiz.PrimerApellido" />
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Apellido2</label>
                                <input type="text" disabled name="ApellidoAprendiz2" id="ApellidoAprendiz2" ng-required="true" class="form-control" ng-maxlength="50" ng-model="Aprendiz.SegundoApellido" />
                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Correo</label>
                                <input class="form-control" disabled ng-required="true" name="correo2g" id="correo2ga" type="email" ng-maxlength="50" ng-model="Aprendiz.Correo" />

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Teléfono</label>
                                <input class="form-control" type="number" disabled name="telefonog" id="telefonoga" ng-required="true" ng-maxlength="10" ng-model="Aprendiz.Telefono" />

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Estado</label>
                                <input class="form-control" type="text" disabled name="estadog" id="estadoga" ng-required="true" ng-maxlength="20" ng-model="Aprendiz.Estado" />

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Ficha</label>
                                <input class="form-control" type="text" disabled name="fichag" id="fichaga" ng-required="true" ng-maxlength="20" ng-model="Aprendiz.IdFicha" />

                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Seleccione Alternativa</label>
                                <select class="area" id="listas3" ng-required="true" ng-model="alternativa.IdAlternativa" style="float:right;width:100%;">
                                    <option value="">Seleccione una Alternativa de etapa productiva...</option>
                                    <option ng-repeat="alternativa in alternativa" class="{{alternativa.IdAlternativa}}" value="{{alternativa.IdAlternativa}}">{{alternativa.NombreAlternativa}}</option>
                                </select>
                            </div>
                        </div>


                    </form>
                </div>

                <div class="row" id="panel2">
                    <form name="gestion">

                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2% ">
                            <label>Seleccione Empresa</label>
                            <select class="area1" id="listase" ng-required="true" ng-model="gestion.idSede" style="float:right;width:100%;">
                                <option value="">Seleccione una sede...</option>
                                <option ng-repeat="empresas in Empresa" class="{{empresas.Nombre}}" value="{{empresas.IdSede}}">{{empresas.Nombre}}/{{empresas.IdSede}}</option>
                            </select>
                        </div>


                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>ARL</label>
                                <input class="form-control" type="text" name="arl" id="alr" ng-required="true" ng-maxlength="20" ng-model="gestion.Arl" />

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Fecha Inicio Productiva</label>
                                <input class="form-control" name="fecha" id="fechainip" ng-required="true" ng-maxlength="20" ng-model="gestion.FechaInicioProductiva" />

                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Fecha Inicio Ficha</label>
                                <input class="form-control" type="text" disabled name="fichaini" id="fichaini" ng-required="true" ng-maxlength="20" />

                            </div>
                        </div>

                        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="margin-top:7%">
                            <label>Sedido?</label><input id="CheckHOlacambiar" type="checkbox" style="height: 18px; width: 18px;  position:absolute;  margin-left:3%; margin-top:0%;" />
                        </div>

                        <div id="selectemp" class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2% ">
                            <label>Seleccione Empresa</label>
                            <select class="area2" id="listasem" ng-model="gestion.EmpresaSedido" style="float:right;width:100%;">
                                <option value="">Seleccione una sede...</option>
                                <option ng-repeat="empresas in Empresa" class="{{empresas.Nombre}}" value="{{empresas.IdSede}}">{{empresas.Nombre}}/{{empresas.IdSede}}</option>
                            </select>
                        </div>

                        <div id="motivoid" class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Motivo Sedido</label>
                                <textarea class="form-control" name="motivo" id="motivo" ng-maxlength="20" ng-model="gestion.DescripcionSedido"></textarea>

                            </div>
                        </div>


                    </form>

                </div>

            </div>
            <div class="modal-footer">

                <button ng-click="ModificarApg()" id="modificarapg" class="btn btn-primary">Modificar</button>
                <button ng-click="GuardarModicarAprendiz1()" id="guardar" class="btn btn-success">Guardar</button>
                <button style="float:left " id="btnAtras" class="btn btn-default">Atras</button>
                <button class="btn btn-primary" id="siguiente">Siguiente</button>
                <button id="guardartodo" ng-disabled="!gestion.$valid" class="btn btn-primary" ng-click="GuardarGestion()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>



            </div>
        </div>
    </div>
</div>

<!-- Asignacion select 2-->


<script type="text/javascript">

    $(function () {
        $(".area").select2();
        $(".area").select2({
            placeholder: "Seleccione una Alternativa Productiva...",
            allowClear: true
        });

        $(".area1").select2();
        $(".area1").select2({
            placeholder: "Seleccione una Sede...",
            allowClear: true
        });

        $(".area2").select2();
        $(".area2").select2({
            placeholder: "Seleccione una Sede...",
            allowClear: true
        });

        $("#fechainip").datepicker({

            language: "es",
            autoclose: true
        });
    });


    $("#CheckHOlacambiar").change(function () {

        if ($("#CheckHOlacambiar").prop("checked")) {

            $("#selectemp").show();
            $("#motivoid").show();


        } else {
            $("#selectemp").hide();
            $("#motivoid").hide();
        }



    });

    $("#siguiente").click(function () {

        var vacio = $("#listas3").val();
        if (vacio == "") {
            swal({
                title: "Error!",
                text: "Debe Seleccionar primero una alternativa!",
                type: "error",
                showCancelButton: false,
                showConfirmButton: false,
                timer: 2000
            });


        } else {
            $("#modificarapg").hide();
            $("#panel2").css({ "display": "block" });
            $("#panel1").hide();
            $("#mostrarUno").css({ "background": "white", "border": "1px solid #fc7323", "color": "black" });
            $("#mostrarDos").css({ "background": "#fc7323", "color": "white" });
            $("#btnAtras").show();
            $("#siguiente").hide();
            $("#guardartodo").show();
        }

    });

    $("#btnAtras").click(function () {
        $("#modificarapg").show();
        $("#panel1").css({ "display": "block" });
        $("#panel2").hide();
        $("#mostrarDos").css({ "background": "white", "border": "1px solid #fc7323", "color": "black" });
        $("#mostrarUno").css({ "background": "#fc7323", "color": "white" });
        $("#btnAtras").hide();
        $("#siguiente").show();
        $("#guardartodo").hide();
    });


</script>



<script>

    $(function () {
        $(".centros").select2();
        $(".centros").select2({
            placeholder: "Seleccione Centro...",
            allowClear: true
        });
    });

    $(function () {
        $(".areas").select2();
        $(".areas").select2({
            placeholder: "Seleccione Área...",
            allowClear: true
        });
    });


    $(function () {
        $(".programas").select2();
        $(".programas").select2({
            placeholder: "Seleccione Programa...",
            allowClear: true
        });
    });

    $(".listar").select2();
    $(".listar").select2({
        placeholder: "Seleccione una ficha...",
        allowClear: true
    });
    $(".listart").select2();
    $(".listart").select2({
        placeholder: "Seleccione un tipo documento...",
        allowClear: true
    });


</script>
