﻿<div>
    <div class="Principal Transicion" style="padding-top: 75px !important;">
        <div class="col-md-12">
            <br />
            <br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 style="text-align:center; font-weight:600;">GESTION INDIVIDUAL APRENDIZ</h1>
                    <div class="col-md-3  col-sm-3 col-xs-3" style="margin-left:-0.8%">
                        <input class="form-control" id="Buscar" ng-keyup="Filter($event)" placeholder="Buscar" />
                    </div>
                    <input id="fileUploadWeb" type="file" accept=".xlsx" style="display: none;" />
                    <button class="btn btn-default" id="excel" ng-click="UploadFileWeb()" title="Subir Archivo Excel " style="height: 34px;">
                        <i class="glyphicon glyphicon-open"></i>
                    </button>
            
                    
                  
                    <br />
                    <br />
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th class="paginationclass" style="font-weight: bold;">Tipo Documento</th>
                                <th class="paginationclass" style="font-weight: bold;">Número Documento</th>
                                <th class="paginationclass" style="font-weight: bold;">Nombres</th>
                                <th class="paginationclass" style="font-weight: bold;">Apellidos</th>
                                <th class="paginationclass" style="font-weight: bold;">Email</th>
                                <th class="paginationclass" style="font-weight: bold;">Teléfono</th>
                                <th class="paginationclass" style="font-weight: bold;">Ficha</th>
                                <th class="paginationclass" style="font-weight: bold;">Gestionar</th>
                            </tr>
                        </thead>
                        <tbody class="searchable">
                            <tr class="paginationclass" ng-repeat="datalist in datalists | pagination: curPage * pageSize | limitTo: pageSize">
                               
                                <td>{{ datalist.TipoDocumento | uppercase}}</td>
                                <td>{{ datalist.NumeroDocumento | uppercase}}</td>
                                <td>{{ datalist.Nombres | uppercase}}</td>
                                <td>{{ datalist.Apellidos | uppercase}}</td>
                                <td>{{ datalist.Correo | uppercase}}</td>
                                <td>{{ datalist.Telefono | uppercase}}</td>
                                <td>{{ datalist.IdentificadorFicha | uppercase}}</td>
                                <td><button class="btn btn-primary" ng-click="Gestionar(datalist.IdAprendiz)" >Gestionar</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pagination pagination-centered" ng-show="datalists.length" style="float: right">
                        <ul class="pagination-controle pagination">
                            <li>
                                <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                                        ng-click="curPage=curPage-1">
                                    Anterior
                                </button>
                            </li>
                            <li>
                                <span>Pág {{curPage + 1}} de {{ numberOfPages() }}</span>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary"
                                        ng-disabled="curPage >= datalists.length/pageSize - 1"
                                        ng-click="curPage = curPage+1">
                                    Siguiente
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--modal registro Aprendiz-->
<div class="modal fade" id="ModalGestion" role="dialog" style="margin-top: -2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Registrar Aprendiz</h4></center>
            </div>
            <div class="modal-body" >
             
                <div class="row">

                    <button class="btn" id="mostrarUno" style="border-radius:100%; margin-left:15%; background:#fc7323; color:white;">1</button>

                    <hr style="height:1px; background:#fc7323; width:60%; margin-top:-3%;" />

                    <button class="btn" id="mostrarDos"  style="border-radius:100%; margin-top:-11.5%; margin-left:80%; background:#fff; border:1px solid #fc7323;">2</button>

                    <!--<div id="panel1" style="height:100px; width:100px; background:blue; display:block;"></div>-->

                    <!--<div id="panel2" style="height:100px; width:100px; background:red; display:none;"></div>-->
                </div>

                <div class="row"   id="panel1">
                    <form name="gestion1">

                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Numero Documento</label>
                                <input type="number" disabled name="NumDoc" id="NumDoc" ng-required="true" class="form-control" ng-maxlength="20" ng-model="Aprendiz.NumeroDocumento" />
                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Nombre</label>
                                <input type="text" disabled name="NombreAprendiz" id="NombreAprendiz" ng-required="true" class="form-control" ng-maxlength="50" ng-model="Aprendiz.Nombres" />
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Apellidos</label>
                                <input type="text" disabled name="ApellidoAprendiz1" id="ApellidoAprendiz1" ng-required="true" class="form-control" ng-maxlength="50" ng-model="Aprendiz.PrimerApellido" />
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Apellidos</label>
                                <input type="text" disabled name="ApellidoAprendiz1" id="ApellidoAprendiz2" ng-required="true" class="form-control" ng-maxlength="50" ng-model="Aprendiz.SegundoApellido" />
                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Correo</label>
                                <input class="form-control" disabled ng-required="true" name="correo2" id="correo2" type="email" ng-maxlength="50" ng-model="Aprendiz.Correo" />

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Teléfono</label>
                                <input class="form-control" type="number" disabled name="telefono" id="telefono" ng-required="true" ng-maxlength="10" ng-model="Aprendiz.Telefono" />

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Estado</label>
                                <input class="form-control" type="text" disabled name="estado" id="estado" ng-required="true" ng-maxlength="20" ng-model="Aprendiz.Estado" />

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Ficha</label>
                                <input class="form-control" type="text" disabled name="ficha" id="ficha" ng-required="true" ng-maxlength="20" ng-model="Aprendiz.IdFicha" />

                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Seleccione Alternativa</label>
                                <select class="area" id="listas" ng-required="true" ng-model="alternativa.IdAlternativa" style="float:right;width:100%;">
                                    <option value="">Seleccione una Alternativa de etapa productiva...</option>
                                    <option ng-repeat="alternativa in alternativa" class="{{alternativa.IdAlternativa}}" value="{{alternativa.IdAlternativa}}">{{alternativa.NombreAlternativa}}</option>
                                </select>
                            </div>
                        </div>
                       

                        </form>
                    </div>

                <div class="row" id="panel2">
                    <form name="gestion" >

                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2% ">
                            <label>Seleccione Empresa</label>
                            <select class="area1" id="listase" ng-required="true" ng-model="gestion.idSede" style="float:right;width:100%;">
                                <option value="">Seleccione una sede...</option>
                                <option ng-repeat="empresas in Empresa" class="{{empresas.Nombre}}" value="{{empresas.IdSede}}">{{empresas.Nombre}}/{{empresas.IdSede}}</option>
                            </select>
                        </div>


                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>ALR</label>
                                <input class="form-control" type="text"  name="arl" id="alr" ng-required="true" ng-maxlength="20" ng-model="gestion.Arl" />

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Fecha Inicio Productiva</label>
                                <input class="form-control"  name="fecha" id="fecha" ng-required="true" ng-maxlength="20"  ng-model="gestion.FechaInicioProductiva"  />

                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Fecha Inicio Ficha</label>
                                <input class="form-control" type="text" disabled name="fichaini" id="fichaini" ng-required="true" ng-maxlength="20"  />

                            </div>
                        </div>
                       
                        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="margin-top:7%">
                            <label>Sedido?</label><input id="CheckHOlacambiar" type="checkbox" style="height: 18px; width: 18px;  position:absolute;  margin-left:3%; margin-top:0%;" />
                        </div>

                        <div id="selectemp" class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2% ">
                            <label>Seleccione Empresa</label>
                            <select class="area2" id="listasem" ng-model="gestion.EmpresaSedido" style="float:right;width:100%;">
                                <option value="">Seleccione una sede...</option>
                                <option ng-repeat="empresas in Empresa" class="{{empresas.Nombre}}" value="{{empresas.IdSede}}">{{empresas.Nombre}}/{{empresas.IdSede}}</option>
                            </select>
                        </div>

                        <div id="motivoid" class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-top:2%">
                            <div>
                                <label>Motivo Sedido</label>
                                <textarea class="form-control"  name="motivo" id="motivo" ng-maxlength="20" ng-model="gestion.DescripcionSedido" ></textarea>

                            </div>
                        </div>


                    </form>

                </div>

     </div>
            <div class="modal-footer">

                <button  ng-click="Modificar()" id="modificar" class="btn btn-primary">Modificar</button>
                <button  ng-click="GuardarModicarAprendiz()" id="guardar" class="btn btn-success" >Guardar</button>
                <button style="float:left "  id="btnAtras" class="btn btn-default">Atras</button>
                <button  class="btn btn-primary" id="siguiente">Siguiente</button>
                <button id="guardartodo" ng-disabled="!gestion.$valid" class="btn btn-primary" ng-click="GuardarGestion()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

               

            </div>
        </div>
    </div>
</div>



<!--Asignacion de select 2-->
<script>
    $(function () {
        $(".area").select2();
        $(".area").select2({
            placeholder: "Seleccione una Alternativa Productiva...",
            allowClear: true
        });

        $(".area1").select2();
        $(".area1").select2({
            placeholder: "Seleccione una Sede...",
            allowClear: true
        });

        $(".area2").select2();
        $(".area2").select2({
            placeholder: "Seleccione una Sede...",
            allowClear: true
        });

        $("#fecha").datepicker({

            language: "es",
            autoclose:true
        });
    });
   

    $("#CheckHOlacambiar").change(function () {

        if ($("#CheckHOlacambiar").prop("checked")) {

            $("#selectemp").show();
            $("#motivoid").show();
       

        } else {
            $("#selectemp").hide();
            $("#motivoid").hide();
        }



    });

    $("#siguiente").click(function () {
       
            var vacio = $("#listas").val();
            if (vacio == "") {
                swal({
                    title: "Error!",
                    text: "Debe Seleccionar primero una alternativa!",
                    type: "error",
                    showCancelButton: false,
                    showConfirmButton: false,
                    timer: 2000
                });


            } else {
                $("#modificar").hide();
                $("#panel2").css({ "display": "block" });
                $("#panel1").hide();
                $("#mostrarUno").css({ "background": "white", "border": "1px solid #fc7323", "color": "black" });
                $("#mostrarDos").css({ "background": "#fc7323", "color": "white" });
                $("#btnAtras").show();
                $("#siguiente").hide();
                $("#guardartodo").show();
            }
           
        });

        $("#btnAtras").click(function () {
            $("#modificar").show();
            $("#panel1").css({ "display": "block" });
            $("#panel2").hide();
            $("#mostrarDos").css({ "background": "white", "border": "1px solid #fc7323", "color": "black" });
            $("#mostrarUno").css({ "background": "#fc7323", "color": "white" });
            $("#btnAtras").hide();
            $("#siguiente").show();
            $("#guardartodo").hide();
        });




</script>
