﻿<div>
    <div class="Principal Transicion" style="padding-top: 75px !important;">
        <div class="col-md-12">
            <br />
            <br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 style="text-align:center; font-weight:600;">Instructores</h1>
                    <div class="col-md-3 col-sm-3 col-xs-3" style="margin-left:-0.8%">
                        <input class="form-control" ng-keyup="Filtrar($event)" id="Buscar" placeholder="Buscar" />
                    </div>
                        <button class="btn btn-default" type="button" id="eliminar" ng-click="CambiarEstadoSeleccionados()" title="Inhabilitar Instructor" style="height: 34px;">
                            <i class="glyphicon glyphicon-trash" style="color:red;"></i>
                        </button>
                        <button class="btn btn-default" type="button" id="modificar" ng-click="Modificar()" title="Editar Instructor" style="height: 34px;">
                            <i class="glyphicon glyphicon-pencil" style="color:blue;"></i>
                        </button>
                        <button class="btn btn-default" type="button" id="atras" ng-click="ConsultarHabilitados()" title="Consultar habilitados" style="height: 34px;">
                            <i class="glyphicon glyphicon-arrow-left"></i>
                        </button>
                        <button class="btn btn-default" type="button" id="inhabilitados" ng-click="ConsultarInhabilitados()" title="Consultar Inhabilitados" style="height: 34px;">
                            <i class="glyphicon glyphicon-remove" style="color:red;"></i>
                        </button>
                        <button class="btn btn-default" type="button" id="habilitar" ng-click="HabilitarInstructor()" title="Habilitar Instructor" style="height: 34px;">
                            <i class="glyphicon glyphicon-ok"></i>
                        </button>
                        <button class="btn btn-default" type="button" id="boton" ng-click="AbrirModal()" title="Registrar Instructor" style="height: 34px;">
                            <i class="glyphicon glyphicon-plus" style="color:green;"></i>
                        </button>
                        <button class="btn btn-default" type="button" id="Programa" ng-click="programar()" title="Programar Fichas" style="height: 34px;">
                            <i class="glyphicon glyphicon-time" style="color:deepskyblue;"></i>
                        </button>
                    <br />
                    <br />
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width:20px"></th>
                                <th class="paginationclass" style="font-weight:bold;">Cédula</th>
                                <th class="paginationclass" style="font-weight:bold;">Tipo Documento</th>
                                <th class="paginationclass" style="font-weight:bold;">Nombre</th>
                                <th class="paginationclass" style="font-weight:bold;">Apellido</th>
                                <th class="paginationclass" style="font-weight:bold;">Correo</th>
                                <th class="paginationclass" style="font-weight:bold;">Teléfono</th>
                                <th class="paginationclass" style="font-weight:bold;">Pico y Placa</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="searchable" id="registros">
                            <tr class="paginationclass" ng-repeat="datalist in datalists | pagination: curPage * pageSize | limitTo: pageSize | filter:searchText">
                                <td><input ng-model="datalist.Seleccionado" type="checkbox" id="{{datalist.Id}}" /></td>
                                <td>{{datalist.NumeroDocumento | uppercase}}</td>
                                <td>{{datalist.TipoDocumento | uppercase}}</td>
                                <td>{{datalist.Nombres | uppercase}}</td>
                                <td>{{datalist.Apellidos | uppercase}}</td>
                                <td>{{datalist.Correo | uppercase}}</td>
                                <td>{{datalist.Telefono | uppercase}}</td>
                                <td>{{datalist.PicoPlaca | uppercase}}</td>
                                <td class="text-center"><button class="btn btn-primary" ng-click="ConsultarProgramacion(datalist.NumeroDocumento)">Ver Programación</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center" id="labelaprendi">
                        <label style="font-size: 18px;font-weight: bold;">No hay instructores registrado actualmente</label>
                    </div>
                    <div class="pagination pagination-centered" ng-show="datalists.length" style="float:right">
                        <ul class="pagination-controle pagination">
                            <li>
                                <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                                        ng-click="curPage=curPage-1">
                                    Anterior
                                </button>
                            </li>
                            <li>
                                <span>Pág {{curPage + 1}} de {{ numberOfPages() }}</span>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary"
                                        ng-disabled="curPage >= datalists.length/pageSize - 1"
                                        ng-click="curPage = curPage+1">
                                    Siguiente
                                </button>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal Registro Instructor-->
<div class="modal fade" id="ModalInstructor" role="dialog" style="margin-top:-2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="height:50px; padding:5px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Registrar Instructor Etapa Productiva</h4></center>
            </div>
            <div class="modal-body">
                <form name="instructor" id="instructor">
                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <label>Seleccione un Centro</label>
                            <select class="centro" id="listasCentroR" ng-required="true" ng-model="Centro.IdCentro" ng-change="Coordinaciones(Centro.IdCentro)" style="float:right;width:100%;">
                                <option value="">Seleccione un centro...</option>
                                <option ng-repeat="centros in Centro" class="{{centros.NombreCentro}}" value="{{centros.IdCentro}}">{{centros.NombreCentro}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6 col-xs-6">
                            <label>Seleccione una Coordinación</label>
                            <select class="cordi" id="listasCoordiR" ng-required="true" ng-model="Coordinacion.IdCoordinacion" ng-change="areas(Coordinacion.IdCoordinacion)" disabled style="float:right;width:100%;">
                                <option value="">Seleccione una coordinación...</option>
                                <option ng-repeat="coordinaciones in Coordinacion" class="{{coordinaciones.Nombres}}" value="{{coordinaciones.IdCoordinacion}}">{{coordinaciones.Nombres}}/{{coordinaciones.NumeroDocumento}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-6">
                            <label>Seleccione Área</label>
                            <select class="area" id="listasAreaR" ng-required="true" ng-model="Area.IdArea" disabled style="float:right;width:100%;">
                                <option value="">Seleccione un area...</option>
                                <option ng-repeat="areas in Area" class="{{areas.Nombre}}" value="{{areas.IdArea}}">{{areas.Nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="height:80px;">
                        <div class="form-group col-md-6">
                            <label>Seleccione Tipo Documento</label>
                            <select class="doc" id="listastd" ng-required="true" ng-model="Instructor.TipoDocumento" style="float:right;width:100%;">
                                <option value="">Seleccione un tipo de documento...</option>
                                <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
                                <option value="Cédula de Ciudadanía">Cédula de Ciudadanía</option>
                                <option value="Cédula de Extrangería">Cédula de Extrangería</option>
                                <option value="Pasaporte">Pasaporte</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <div ng-class="{'has-error':instructor.cedulaInstructor.$invalid && instructor.cedulaInstructor.$touched, 'has-error2':instructor.cedulaInstructor.$error.maxlength}">
                                <label>Cédula</label>
                                <input type="number" class="form-control" name="cedulaInstructor" id="cedulaInstructor" ng-required="true" ng-maxlength="20" ng-model="Instructor.NumeroDocumento" />
                                <span ng-hide="instructor.cedulaInstructor.$error.maxlength">
                                    <span ng-if="instructor.cedulaInstructor.$invalid && instructor.cedulaInstructor.$dirty" class="help-block">Ingrese la cédula del instructor</span>
                                </span>
                                <span ng-if="instructor.cedulaInstructor.$error.maxlength" class="help-block">La cédula puede tener máximo 20 caracteres </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height:80px;">
                        <div class="form-group col-md-6">
                            <div ng-class="{'has-error':instructor.nombreInstructor.$invalid && instructor.nombreInstructor.$touched, 'has-error2':instructor.nombreInstructor.$error.maxlength}">
                                <label>Nombre</label>
                                <input type="text" class="form-control" name="nombreInstructor" id="nombreInstructor" ng-required="true" ng-maxlength="50" ng-pattern="/^[a-zA-Z]*$/" ng-model="Instructor.Nombres" />
                                <span ng-hide="instructor.nombreInstructor.$error.maxlength">
                                    <span ng-if="instructor.nombreInstructor.$invalid && instructor.nombreInstructor.$dirty" class="help-block">Ingrese el nombre del instructor</span>
                                </span>
                                <span ng-if="instructor.nombreInstructor.$error.maxlength" class="help-block">El nombre puede tener máximo 50 caracteres </span>
                            </div>
                        </div>
                        <div class="form-group form-group col-md-6">
                            <div ng-class="{'has-error':instructor.apellidoInstructor.$invalid && instructor.apellidoInstructor.$touched, 'has-error2':instructor.apellidoInstructor.$error.maxlength}">
                                <label>Apellido</label>
                                <input type="text" class="form-control" name="apellidoInstructor" id="apellidoInstructor" ng-required="true" ng-maxlength="50" ng-pattern="/^[a-zA-Z]*$/" ng-model="Instructor.Apellidos" />
                                <span ng-hide="instructor.apellidoInstructor.$error.maxlength">
                                    <span ng-if="instructor.apellidoInstructor.$invalid && instructor.apellidoInstructor.$dirty" class="help-block">Ingrese el apellido del instructor</span>
                                </span>
                                <span ng-if="instructor.apellidoInstructor.$error.maxlength" class="help-block">El apellido puede tener máximo 50 caracteres </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height:80px;">
                        <div class="form-group col-md-6">
                            <div ng-class="{'has-error':instructor.correoInstructor.$invalid && instructor.correoInstructor.$touched, 'has-error2':instructor.correoInstructor.$error.maxlength}">
                                <label>Email</label>
                                <input class="form-control" type="email" name="correoInstructor" id="correoInstructor" ng-required="true" ng-maxlength="50" ng-model="Instructor.Correo" />
                                <span ng-hide="instructor.correoInstructor.$error.maxlength">
                                    <span ng-if="instructor.correoInstructor.$invalid && instructor.correoInstructor.$dirty" class="help-block">Ingrese un correo válido</span>
                                </span>
                                <span ng-if="instructor.correoInstructor.$error.maxlength" class="help-block">El correo puede tener máximo 50 caracteres </span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div ng-class="{'has-error':instructor.telefono.$invalid && instructor.telefono.$touched, 'has-error2':instructor.telefono.$error.maxlength}">
                                <label>Teléfono</label>
                                <input class="form-control" type="number" name="telefono" id="telefono" ng-required="true" ng-maxlength="10" ng-model="Instructor.Telefono" />
                                <span ng-hide="instructor.telefono.$error.maxlength">
                                    <span ng-if="instructor.telefono.$invalid && instructor.telefono.$dirty" class="help-block">Ingrese el teléfono del instructor</span>
                                </span>
                                <span ng-if="instructor.telefono.$error.maxlength" class="help-block">El teléfono puede tener máximo 10 caracteres </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height:80px;">
                        <div class="form-group col-md-2 text-center">
                            <label>Lunes </label><br /><input type="checkbox" id="Lunes" style="height: 18px; width: 18px;" ng-model="Placa.Lunes" />
                        </div>
                        <div class="form-group col-md-2 text-center">
                            <label>Martes </label><br /><input type="checkbox" id="Martes" style="height: 18px; width: 18px;" ng-model="Placa.Martes" />
                        </div>
                        <div class="form-group col-md-2 text-center">
                            <label>Miercoles </label><input type="checkbox" id="Miercoles" style="height: 18px; width: 18px;" ng-model="Placa.Miercoles" />
                        </div>
                        <div class="form-group col-md-2 text-center">
                            <label>Jueves </label><br /><input type="checkbox" id="Jueves" style="height: 18px; width: 18px;" ng-model="Placa.Jueves" />
                        </div>
                        <div class="form-group col-md-2 text-center">
                            <label>Viernes </label><input type="checkbox" id="Viernes" style="height: 18px; width: 18px;" ng-model="Placa.Viernes" />
                        </div>
                        <div class="form-group col-md-2 text-center">
                            <label>Sabado </label><input type="checkbox" id="Sabado" style="height: 18px; width: 18px;" ng-model="Placa.Sabado" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="Guardar()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Eliminar Registro-->
<div class="modal fade" id="modalInhabilitar" role="dialog">
    <div class="modal-dialog" style="width: 400px;">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center>
                    <h4 style="color:#1C75BB;">
                        CONFIRMAR INHABILITACIÓN
                    </h4>
                </center>
            </div>
            <div class="modal-body" style="height: 100px; overflow: auto;">
                <div class="form-group">
                    <label>¿Está seguro que desea inhabilitar el registro? </label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success  btn-default" data-dismiss="modal" ng-click="inhabilitar()">Aceptar</button>
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Editar Instructor-->
<div class="modal fade" id="ModalEditar" role="dialog" style="margin-top:-2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="height:50px; padding:5px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Editar Instructor</h4></center>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label>Seleccione un Centro</label>
                        <select class="centro" id="listasCentroE" ng-required="true" ng-model="Centro.IdCentro" ng-change="CoordinacionesE(Centro.IdCentro)" style="float:right;width:100%;">
                            <option value="">Seleccione un centro...</option>
                            <option ng-repeat="centros in Centro" class="{{centros.NombreCentro}}" value="{{centros.IdCentro}}">{{centros.NombreCentro}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label>Seleccione una Coordinación</label>
                        <select class="cordi" id="listasCoordiE" ng-required="true" ng-model="Coordinacion.IdCoordinacion" ng-change="areasE(Coordinacion.IdCoordinacion)" style="float:right;width:100%;">
                            <option value="">Seleccione una coordinación...</option>
                            <option ng-repeat="coordinaciones in Coordinacion" class="{{coordinaciones.Nombres}}" value="{{coordinaciones.IdCoordinacion}}">{{coordinaciones.Nombres}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label>Seleccione Área</label>
                        <select class="area" id="listasAreaE" ng-required="true" ng-model="Area.IdArea"  style="float:right;width:100%;">
                            <option value="">Seleccione un area...</option>
                            <option ng-repeat="areas in Area" class="{{areas.Nombre}}" value="{{areas.IdArea}}">{{areas.Nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Seleccione Tipo Documento</label>
                        <select class="doc" id="listastde" ng-required="true" ng-model="Instructor.TipoDocumento" style="float:right;width:100%;" disabled="disabled">
                            <option value="">Seleccione un tipo de documento...</option>
                            <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
                            <option value="Cédula de Ciudadanía">Cédula de Ciudadanía</option>
                            <option value="Cédula de Extrangería">Cédula de Extrangería</option>
                            <option value="Pasaporte">Pasaporte</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <div ng-class="{'has-error':instructor.cedulaInstructor.$invalid && instructor.cedulaInstructor.$touched, 'has-error2':instructor.cedulaInstructor.$error.maxlength}">
                            <label>Cédula</label>
                            <input type="number" class="form-control" disabled="disabled" name="cedulaInstructor" id="cedulaInstructor" ng-required="true" ng-maxlength="50" ng-model="Instructor.NumeroDocumento" />
                            <span ng-hide="instructor.cedulaInstructor.$error.maxlength">
                                <span ng-if="instructor.cedulaInstructor.$invalid && instructor.cedulaInstructor.$dirty" class="help-block">Ingrese la cédula del instructor</span>
                            </span>
                            <span ng-if="instructor.cedulaInstructor.$error.maxlength" class="help-block">La cédula puede tener máximo 50 caracteres </span>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div ng-class="{'has-error':instructor.nombreInstructor.$invalid && instructor.nombreInstructor.$touched, 'has-error2':instructor.nombreInstructor.$error.maxlength}">
                                <label>Nombre</label>
                                <input type="text" class="form-control" name="nombreInstructor" id="nombreInstructor" ng-required="true" ng-maxlength="50" ng-pattern="/^[a-zA-Z]*$/" ng-model="Instructor.Nombres" />
                                <span ng-hide="instructor.nombreInstructor.$error.maxlength">
                                    <span ng-if="instructor.nombreInstructor.$invalid && instructor.nombreInstructor.$dirty" class="help-block">Ingrese el nombre del instructor</span>
                                </span>
                                <span ng-if="instructor.nombreInstructor.$error.maxlength" class="help-block">El nombre puede tener máximo 50 caracteres </span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div ng-class="{'has-error':instructor.apellidoInstructor.$invalid && instructor.apellidoInstructor.$touched, 'has-error2':instructor.apellidoInstructor.$error.maxlength}">
                                <label>Apellido</label>
                                <input type="text" class="form-control" name="apellidoInstructor" id="apellidoInstructor" ng-required="true" ng-maxlength="50" ng-pattern="/^[a-zA-Z]*$/" ng-model="Instructor.Apellidos" />
                                <span ng-hide="instructor.apellidoInstructor.$error.maxlength">
                                    <span ng-if="instructor.apellidoInstructor.$invalid && instructor.apellidoInstructor.$dirty" class="help-block">Ingrese el apellido del instructor</span>
                                </span>
                                <span ng-if="instructor.apellidoInstructor.$error.maxlength" class="help-block">El apellido puede tener máximo 50 caracteres </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div ng-class="{'has-error':instructor.correoInstructor.$invalid && instructor.correoInstructor.$touched, 'has-error2':instructor.correoInstructor.$error.maxlength}">
                                <label>Email</label>
                                <input class="form-control" type="email" name="correoInstructor" id="correoInstructor" ng-required="true" ng-maxlength="50" ng-model="Instructor.Correo" />
                                <span ng-hide="instructor.correoInstructor.$error.maxlength">
                                    <span ng-if="instructor.correoInstructor.$invalid && instructor.correoInstructor.$dirty" class="help-block">Ingrese un correo válido</span>
                                </span>
                                <span ng-if="instructor.correoInstructor.$error.maxlength" class="help-block">El correo puede tener máximo 50 caracteres </span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div ng-class="{'has-error':instructor.telefono.$invalid && instructor.telefono.$touched, 'has-error2':instructor.telefono.$error.maxlength}">
                                <label>Teléfono</label>
                                <input class="form-control" type="number" name="telefono" id="telefono" ng-required="true" ng-maxlength="10" ng-model="Instructor.Telefono" />
                                <span ng-hide="instructor.telefono.$error.maxlength">
                                    <span ng-if="instructor.telefono.$invalid && instructor.telefono.$dirty" class="help-block">Ingrese el teléfono del instructor</span>
                                </span>
                                <span ng-if="instructor.telefono.$error.maxlength" class="help-block">El teléfono puede tener máximo 10 caracteres </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2 text-center">
                            <label>Lunes </label><br /><input type="checkbox" id="Lunes" style="height: 18px; width: 18px;" ng-model="Placa.Lunes" />
                        </div>
                        <div class="form-group col-md-2 text-center">
                            <label>Martes </label><br /><input type="checkbox" id="Martes" style="height: 18px; width: 18px;" ng-model="Placa.Martes" />
                        </div>
                        <div class="form-group col-md-2 text-center">
                            <label>Miercoles </label><input type="checkbox" id="Miercoles" style="height: 18px; width: 18px;" ng-model="Placa.Miercoles" />
                        </div>
                        <div class="form-group col-md-2 text-center">
                            <label>Jueves </label><br /><input type="checkbox" id="Jueves" style="height: 18px; width: 18px;" ng-model="Placa.Jueves" />
                        </div>
                        <div class="form-group col-md-2 text-center">
                            <label>Viernes </label><input type="checkbox" id="Viernes" style="height: 18px; width: 18px;" ng-model="Placa.Viernes" />
                        </div>
                        <div class="form-group col-md-2 text-center">
                            <label>Sabado </label><input type="checkbox" id="Sabado" style="height: 18px; width: 18px;" ng-model="Placa.Sabado" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="GuardarEdicionInstructor()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal de  programacion-->
<div class="modal fade" id="ModalProgramacion" role="dialog" style="width:100%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Registrar Programacion</h4></center>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <form name="programacion" id="programacion">
                        <div>
                            <div class="row">
                                <div class="form-group col-md-12" style="padding-left: 0px;">
                                    <label>Seleccione Ficha</label>
                                    <select class="ficha" id="listarFicha" ng-required="true" ng-model="Ficha.IdFicha" style="float: right;width:100%;">
                                        <option value=""></option>
                                        <option ng-repeat="fichas in Ficha" class="{{fichas.IdentificadorFicha}}" value="{{fichas.IdFicha}}">{{fichas.IdentificadorFicha}}</option>
                                    </select>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="row">
                                <div class="text-center">
                                    <button class="btn btn-primary" type="button" ng-click="Agregar()" id="Agrega">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12 text-center" style="height:210px;overflow-y:auto;padding-right: 0px;">
                        <form name="Fichas" id="Fichas">
                            <table id="tblFicha" class="table table-striped table-fixed">
                                <thead>
                                    <tr>
                                        <th class="text-center" colspan="2">Fichas</th>
                                    </tr>
                                </thead>
                                <tbody id="tabla">
                                    <tr class="paginationclass" id="{{datalista.Posicion}}" ng-repeat="datalista in Programacion">
                                        <td class="text-center" style="width:119px;padding-top:10px;">{{datalista.IdentificadorFicha | uppercase}}</td>
                                        <td class="text-center" style="width:119px;"><input class="btn btn-danger btn-xs" ng-click="QuitarFicha(datalista.IdentificadorFicha)" type="button" id="{{datalista.IdFicha}}" value="x" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="text-center" style="margin-left:15px;">
                        <label>Aprendices activos</label>
                        <input class="form-control text-center" value="" type="text" id="activos" disabled />
                    </div>
                </div>
                <div style="border-left: 1px solid #ccc;width: 1px;height: 265px;margin-left: 284px;"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="GuardarProgramacion()">Guardar</button>
                <button type="button" class="btn btn-default" ng-click="CerrarProgramacion()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal de consultar programacion-->
<div class="modal fade" id="ModalProgramacionConsultar" role="dialog" style="width:90%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Programaciones asignadas</h4></center>
            </div>
            <div class="modal-body">
                <div class="col-md-6" style="padding-right:0px">
                    <form name="Fichas" id="Fichas">
                        <div style="margin-left:35%;">
                            <label>Fichas</label>
                        </div>
                        <div style="height:302px;overflow-y:auto;margin-top:10px;">
                        <table id="tblFicha" class="table table-striped table-fixed" style="margin-left: -14px;">
                            <tbody>
                                <tr class="paginationclass" id="{{datalista.IdFicha}}" ng-repeat="datalista in Programacion">
                                    <td class="text-center" style="width:119px;padding-top:10px;">{{datalista.IdentificadorFicha | uppercase}}</td>
                                    <td class="text-center" style="width:119px;"><input class="btn btn-primary btn-xs" ng-click="Detalle($index)" type="button" id="{{datalista.IdFicha}}" value="Detalle" />
                                    <input class="btn btn-danger btn-xs" ng-click="Eliminar(datalista.IdProgramacion)" type="button" value="x" /></td>
                                </tr>
                            </tbody>
                        </table>
                            </div>
                    </form>
                </div>
                <div class="col-md-6" style="padding-right:0px;">
                    <form name="Fichas" id="Fichas">
                        <div class="row text-center">
                            <label id="label6">Ficha</label>
                            <input class="form-control text-center" type="text" id="boton6" value="" style="margin-left: 75px;width:50%;margin-top:8px;" disabled>
                        </div>
                        <div class="row text-center"  style="margin-top:8px;">
                            <label id="label1">Número de aprendices activos</label>
                            <input class="form-control text-center" type="text" id="boton1" value="" style="margin-left: 70px;width:50%;margin-top:8px;" disabled>
                        </div>
                        <div class="row text-center" style="margin-top:8px;">
                            <div class="col-md-6">
                                <label id="label2">Momento dos:</label>
                            </div>
                            <div class="col-md-6">
                                <label id="label3">Momento tres:</label>
                            </div>
                        </div>
                        <div class="row text-center" style="margin-top:8px;">
                            <div class="col-md-6">
                                <input style="width:15px;height:15px;" id="check1" type="checkbox" disabled>
                            </div>
                            <div class="col-md-6">
                                <input style="width:15px;height:15px;" id="check2" type="checkbox" disabled>
                            </div>
                        </div>
                        <div class="row text-center" style="margin-top:8px;">
                            <div class="col-md-12">
                                <label id="label4">Fechas calculadas:</label>
                            </div>
                        </div>
                        <div class="row text-center" style="margin-top:8px;">
                            <div class="col-md-6">
                                <input class="form-control text-center" id="boton2"  type="text" value="" disabled>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control text-center" id="boton3"  type="text" value="" disabled>
                            </div>
                        </div>
                        <div class="row text-center" style="margin-top:8px;">
                            <div class="col-md-12">
                                <label id="label5">Fechas reales:</label>
                            </div>
                        </div>
                        <div class="row text-center" style="margin-top:8px;">
                            <div class="col-md-6">
                                <input class="form-control text-center" id="boton4" type="text" value="" disabled>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control text-center" id="boton5" type="text" value="" disabled>
                            </div>
                        </div>
                    </form>
                </div>
                <div style="border-left: 1px solid #ccc;width: 1px;height: 332px;margin-left: 284px;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Asignacion select 2-->
<script>
    $(function () {
        $(".area").select2();
        $(".area").select2({
            placeholder: "Seleccione un area...",
            allowClear: true
        });
        $(".centro").select2();
        $(".centro").select2({
            placeholder: "Seleccione un centro...",
            allowClear: true
        });
        $(".cordi").select2();
        $(".cordi").select2({
            placeholder: "Seleccione una coordinación...",
            allowClear: true
        });
        $(".ficha").select2();
        $(".ficha").select2({
            placeholder: "Seleccione una ficha...",
            allowClear: true
        });
        $(".doc").select2();
        $(".doc").select2({
            placeholder: "Seleccione un tipo de documento",
            allowClear: true
        });
    });
</script> 