﻿<div>
    <div class="Principal Transicion" style="padding-top: 75px !important;">
        <div class="col-md-12">
            <br />
            <br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 style="text-align:center; font-weight:600;">Programas de Formación</h1>
                    <div class="col-md-3  col-sm-3 col-xs-3" style="margin-left:-0.8%">
                        <input class="form-control" ng-keyup="Filter($event)" id="Buscar" placeholder="Buscar" />
                    </div>
                    <input id="fileUploadWeb" type="file" accept=".xlsx" style="display: none;" />
                    <button class="btn btn-default botones" id="excel" ng-click="UploadFileWeb()" title="Subir Archivo Excel " style="height: 34px;">
                        <i class="glyphicon glyphicon-open"></i>
                    </button>
                    <button class="btn btn-default botones" type="button" id="eliminar" ng-click="CambiarEstadoSeleccionados()" title="Inhabilitar Registros" style="height: 34px;">
                        <i class="glyphicon glyphicon-trash" style="color:red;"></i>
                    </button>
                    <button class="btn btn-default botones" type="button" id="modificar" ng-click="Modificar()" title="Editar Registro" style="height: 34px;">
                        <i class="glyphicon glyphicon-pencil" style="color:blue;"></i>
                    </button>
                    <button class="btn btn-default botones" type="button" id="boton" ng-click="AbrirModal()" title="Editar Registro" style="height: 34px;">
                        <i class="glyphicon glyphicon-plus" style="color:green;"></i>
                    </button>
                    <br />
                    <br />
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width:20px"></th>
                                <th class="paginationclass" style="font-weight:bold;">Código</th>
                                <th class="paginationclass" style="font-weight:bold;">Nombre</th>
                                <th class="paginationclass" style="font-weight:bold;">Nivel</th>
                                <th class="paginationclass" style="font-weight:bold;">Área</th>
                            </tr>
                        </thead>
                        <tbody class="searchable">
                            <tr class="paginationclass" ng-repeat="datalist in datalists | pagination: curPage * pageSize | limitTo: pageSize">
                                <td><input ng-model="datalist.Seleccionado" type="checkbox" id="{{datalist.Id}}" /></td>
                                <td>{{datalist.Parametro2 | uppercase}}</td>
                                <td>{{datalist.Parametro9 | uppercase}}</td>
                                <td>{{datalist.Parametro3 | uppercase}}</td>
                                <td>{{datalist.Parametro8 | uppercase}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <div class="pagination pagination-centered" ng-show="datalists.length" style="float:right">
                            <ul class="pagination-controle pagination">
                                <li>
                                    <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                                            ng-click="curPage=curPage-1">
                                        Anterior
                                    </button>
                                </li>
                                <li>
                                    <span>Pág {{curPage + 1}} de {{ numberOfPages() }}</span>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary"
                                            ng-disabled="curPage >= datalists.length/pageSize - 1"
                                            ng-click="curPage = curPage+1">
                                        Siguiente
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--modal registrar-->
<div class="modal fade" id="ModalPrograma" role="dialog" style="margin-top:-2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="height:50px; padding:5px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Registrar Programa de Formación</h4></center>
            </div>
            <div class="modal-body" style="height:300px;">
                <form name="programa1" id="programa1">

                    <div class="row  col-md-6 col-sm-6 col-lg-6" style="margin-left:0%;">
                        <div class="form-group">
                            <label>Seleccione Área</label>
                            <select class="listas" id="listas" ng-required="true" ng-model="Area.IdArea" style="float:right; width:100%;">
                                <option value="">Seleccione Área...</option>
                                <option ng-repeat="areas in Area" class="{{areas.Nombre}}" value="{{areas.IdArea}}">{{areas.Nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row  col-md-6 col-sm-6 col-lg-6" style="margin-left:4%;">
                        <div class="form-group">
                            <div ng-class="{'has-error':programa1.codigo.$invalid && programa1.codigo.$touched, 'has-error2':programa1.codigo.$error.maxlength}">
                                <label>Código</label>
                                <input class="form-control" ng-required="true" id="codigo" name="codigo" style="width:250px;" ng-maxlength="10" type="text" ng-model="Programa.CodigoPrograma" />
                                <span ng-hide="programa1.codigo.$error.maxlength">
                                    <span ng-if="programa1.codigo.$invalid && programa1.codigo.$dirty" class="help-block">Ingrese el código del programa</span>
                                </span>
                                <span ng-if="programa1.codigo.$error.maxlength" class="help-block">El código puede tener máximo 10 caracteres </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12 col-sm-12 col-lg-12" style="margin-top:2%">
                        <div ng-class="{'has-error':programa1.nombre.$invalid && programa1.nombre.$touched, 'has-error2':programa1.nombre.$error.maxlength}">
                            <label>Nombre Programa</label>
                            <input class="form-control" name="nombre" id="nombre" ng-required="true" type="text" ng-maxlength="100" ng-model="Programa.NombrePrograma" />
                            <span ng-hide="programa1.nombre.$error.maxlength">
                                <span ng-if="programa1.nombre.$invalid && programa1.nombre.$dirty" class="help-block">Ingrese el nombre del programa</span>
                            </span>
                            <span ng-if="programa1.nombre.$error.maxlength" class="help-block">El nombre puede tener máximo 100 caracteres </span>
                        </div>
                    </div>
              
                    <div class="form-group col-md-12 col-sm-12 col-lg-12" style="margin-top:2%">
                        <label>Seleccione Nivel Académico</label>
                        <select class="form-control" id="lista" ng-required="true" ng-model="Programa.Nivel">
                            <option>AUXILIAR</option>
                            <option>TÉCNICO</option>
                            <option>TECNÓLOGO</option>
                            <option>TECNÓLOGO VIRTUAL</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="GuardarPrograma()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Eliminar Registro-->
<div class="modal fade" id="modalInhabilitar" role="dialog" style="margin-top:-2%;">
    <div class="modal-dialog" style="height:560px;">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center>
                    <h4 style="color:#1C75BB;">
                        CONFIRMAR INHABILITACIÓN
                    </h4>
                </center>
            </div>
            <div class="modal-body" style="height: 100px; overflow: auto;">
                <div class="form-group">
                    <label>¿Está seguro que desea inhabilitar el registro? </label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success  btn-default" data-dismiss="modal" ng-click="inhabilitar()">Aceptar</button>
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Editar Registro-->
<div class="modal fade" id="ModalEditar" role="dialog" style="margin-top:-2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="height:50px; padding:5px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 style="font-weight: bold;">Editar Programa de Formación</h4></center>
            </div>
            <div class="modal-body" style="height:300px;">
                <form name="programa" id="programa">
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="margin-left:0%;margin-top:2%">
                        <label>Seleccione Área</label>
                        <select class="form-control" id="AreaLista" ng-required="true" ng-model="Area.IdArea" style="float:right;width:100%;">
                            <option ng-repeat="areas in Area" class="{{areas.Nombre}}" value="{{areas.IdArea}}">{{areas.Nombre}}</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-lg-6" style="margin-top:2%">
                        <div ng-class="{'has-error':programa.codigo.$invalid && programa.codigo.$touched, 'has-error2':programa.codigo.$error.maxlength}">
                            <label>Código</label>
                            <input class="form-control" ng-required="true" id="codigo" name="codigo" ng-maxlength="10" type="text" ng-model="Programa.CodigoPrograma" />
                            <span ng-hide="programa.codigo.$error.maxlength">
                                <span ng-if="programa.codigo.$invalid && programa.codigo.$dirty" class="help-block">Ingrese el código del programa</span>
                            </span>
                            <span ng-if="programa.codigo.$error.maxlength" class="help-block">El código puede tener máximo 10 caracteres </span>
                        </div>
                    </div>


                    <div class="form-group col-md-12 col-sm-12 col-lg-12" style="margin-top:2%">
                        <div ng-class="{'has-error':programa.nombre.$invalid && programa.nombre.$touched, 'has-error2':programa.nombre.$error.maxlength}">
                            <label>Nombre Programa</label>
                            <input class="form-control" name="nombre" id="nombre" ng-required="true" type="text" ng-maxlength="100" ng-model="Programa.NombrePrograma" />
                            <span ng-hide="programa.nombre.$error.maxlength">
                                <span ng-if="programa.nombre.$invalid && programa.nombre.$dirty" class="help-block">Ingrese el nombre del programa</span>
                            </span>
                            <span ng-if="programa.nombre.$error.maxlength" class="help-block">El nombre puede tener máximo 100 caracteres </span>
                        </div>
                    </div>
           
                    <div class="form-group col-md-12 col-sm-12 col-lg-12" style="margin-top:2%">
                        <label>Seleccione Nivel Académico</label>
                        <select class="form-control" id="NivelLista" ng-required="true" ng-model="Programa.Nivel" style="float:right;">
                            <option>AUXILIAR</option>
                            <option>TÉCNICO</option>
                            <option>TECNÓLOGO</option>
                            <option>TECNÓLOGO VIRTUAL</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="GuardarEdicionPrograma()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Asignacion select 2-->
<script>
    $(function () {
        $(".listas").select2();
        $(".listas").select2({
            placeholder: "Seleccione Área...",
            allowClear: true
        });
    });


</script>