﻿::-webkit-scrollbar {
    height: 8px;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #238276;
} 

body {
    scrollbar-face-color: white;
}

textarea{
    resize:none;
}

.select2-selection__rendered{
    max-height: 28px;
    overflow: auto !important;
}

#FechaInicio{
    margin-top: 2px !important;
}

.Principal {
    padding: 0px !important;
    float: right;
    width: 1300px;
}

.Transicion {
    transition: 0.3s all ease-in;
}

.menu-perfil {
    display: none;
    width: 250px;
    height: 300px;
    background: #fff;
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 10;
    -webkit-box-shadow: -11px 15px 22px -12px rgba(0,0,0,0.66);
    -moz-box-shadow: -11px 15px 22px -12px rgba(0,0,0,0.66);
    box-shadow: -11px 15px 22px -12px rgba(0,0,0,0.66);
}

.sobre-menu-perfil {
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 9;
    background: transparent;
    position: fixed;
    left: 0;
    top: 0;
}


#menu-perfil {
    cursor: pointer;
}

#bodyLogin {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#avatar {
    width: 150px;
    height: 150px;
}

#sha {
    max-width: 350px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(40, 50, 50, 0.48);
    -moz-box-shadow: 0px 0px 15px 0px rgba(40, 50, 50, 0.48);
    box-shadow: 0px 0px 15px 0px rgba(40, 50, 50, 0.48);
    border-radius: 5%;
}


.Loading.modal {
    background: rgba(0,0,0,0.5);
}

.circle {
    position: absolute;
    border: 3px solid transparent;
    border-top-color: #9ee925;
    border-radius: 50%;
    -webkit-animation: rotate linear infinite;
    animation: rotate linear infinite;
}

    .circle.one {
        height: 50px;
        width: 50px;
        left: 50px;
        top: 50px;
        -webkit-animation-duration: 0.85s;
        animation-duration: 0.85s;
    }

    .circle.two {
        height: 75px;
        width: 75px;
        top: 38px;
        left: 38px;
        -webkit-animation-duration: 0.95s;
        animation-duration: 0.95s;
    }

    .circle.three {
        height: 100px;
        width: 100px;
        top: 25px;
        left: 25px;
        -webkit-animation-duration: 1.05s;
        animation-duration: 1.05s;
    }

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -90px 0 0 -90px;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }

    to {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }

    to {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
}

.Transicion {
width: 95%;
}

.icono-menu__ {
width:72px;
height:60px;
display:flex;
align-items:center;
justify-content:center;
position:absolute;
left:0;
top:0;
cursor:pointer;
}